.row.row-cols-sm-2.row-cols-md-3.row-cols-lg-4
    .col.animate-fade-in(style="--i: 0;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Alicja S.
                        //- span Alicja Sokołowska
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Warszawa
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-4 12.05.2025
            p.review__text Zamówiłam w WhiteRabbit mycie okien w całym mieszkaniu i jestem bardzo zadowolona. Szyby są idealnie czyste, bez smug, a cała praca została wykonana szybko i dokładnie.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 1;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Michał B.
                        //- span Michał Borkowski
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Raszyn
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-8 12.05.2025
            p.review__text Bardzo dobra usługa. Okna po myciu wyglądają świetnie, wyczyszczone zostały również ramy i parapety. Profesjonalne podejście i punktualny przyjazd.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 2;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Karolina A.
                        //- span Karolina Adamczyk
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Warszawa
            .review__meta
                .rating.review__rating(style="--star-rating: 4.5;")
                .review__date.text-muted.date-34 12.05.2025
            p.review__text Korzystałam z mycia okien po remoncie mieszkania. Było sporo kurzu i zabrudzeń, ale WhiteRabbit świetnie sobie poradziło. Efekt końcowy naprawdę robi różnicę.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 3;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Paweł Z.
                        //- span Paweł Zalewski
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Warszawa
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-45 12.05.2025
            p.review__text Polecam tę firmę każdemu, kto szuka dokładnego mycia okien w Warszawie. Wszystko wykonane starannie, bez pośpiechu i bez pozostawionych zacieków.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 4;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Monika C.
                        //- span Monika Czerwińska
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Sulejówek
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-56 12.05.2025
            p.review__text Zamówiłam mycie dużych okien balkonowych i jestem bardzo zadowolona. Szyby są przejrzyste, ramy czyste, a mieszkanie od razu wygląda jaśniej.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 5;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Grzegorz L.
                            //- span Grzegorz Lis
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Warszawa
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-76 12.05.2025
            p.review__text WhiteRabbit regularnie zajmuje się myciem okien w naszym biurze. Zawsze terminowo, dokładnie i z bardzo dobrym efektem. Zdecydowanie polecam.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 6;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Joanna W.
                            //- span Joanna Wróbel
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Brwinów
            .review__meta
                .rating.review__rating(style="--star-rating: 4.5;")
                .review__date.text-muted.date-82 12.05.2025
            p.review__text Po zimie nasze okna wymagały solidnego czyszczenia. Usługa wykonana sprawnie, dokładnie umyte szyby, ramy oraz parapety. Bardzo miła obsługa.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 7;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Daniel K.
                        //- span Daniel Kaczmarek
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Warszawa
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-94 12.05.2025
            p.review__text Świetna jakość usługi. Zamówiłem mycie okien w domu jednorodzinnym i wszystko przebiegło bez problemu. Okna wyglądają jak nowe.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
