.row.row-cols-sm-2.row-cols-md-3.row-cols-lg-4
    .col.animate-fade-in(style="--i: 0;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Ewa M.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Варшава
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-8 12.05.2025
            p.review__text Замовила у WhiteRabbit хімчистку двоспального матраца й дуже задоволена результатом. Матрац став свіжим, забруднення зникли, і користуватися ним знову дуже приємно. Рекомендую.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 1;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Paweł K.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Юзефув
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-43 12.05.2025
            p.review__text Професійна послуга від початку до кінця. Хімчистку матраца виконали дуже ретельно, без поспіху. Великий плюс за пунктуальність і чистоту після завершення роботи.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 2;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Joanna S.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Варшава
            .review__meta
                .rating.review__rating(style="--star-rating: 4.5;")
                .review__date.text-muted.date-60 12.05.2025
            p.review__text Після кількох років використання матрац однозначно потребував освіження. WhiteRabbit чудово впоралися — тканина виглядає значно краще, а весь матрац став чистим і свіжим.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 3;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Adam W.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Варшава
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-67 12.05.2025
            p.review__text Скористався послугою хімчистки матраца після переїзду. Чудова комунікація, швидкий виїзд і відмінний результат. Видно, що компанія працює на професійному обладнанні.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 4;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Natalia G.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Легіоново
            .review__meta
                .rating.review__rating(style="--star-rating: 4.5;")
                .review__date.text-muted.date-80 12.05.2025
            p.review__text Рекомендую хімчистку матраців від WhiteRabbit. Вдалося видалити сліди щоденного використання та освіжити всю поверхню. Усе виконано швидко й дуже ретельно.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 5;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Krzysztof P.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Варшава
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-92 12.05.2025
            p.review__text Замовив хімчистку двох матраців у квартирі у Варшаві. Послугу виконали дуже якісно, без жодних проблем. Чудове співвідношення ціни та якості.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 6;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Monika J.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Пястув
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-100 12.05.2025
            p.review__text Я сумнівалася, чи вдасться добре почистити старий матрац, але результат приємно здивував. Матрац виглядає набагато краще й користуватися ним стало значно комфортніше.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 7;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Łukasz W.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Варшава
            .review__meta
                .rating.review__rating(style="--star-rating: 4.5;")
                .review__date.text-muted.date-120 12.05.2025
            p.review__text Дуже надійна компанія. Хімчистку матраца виконали швидко, працівник усе пояснив і уважно поставився до деталей. Обов'язково ще скористаюся послугами WhiteRabbit.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше
