.row.row-cols-sm-2.row-cols-md-3.row-cols-lg-4
    .col.animate-fade-in(style="--i: 0;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Agnieszka W.
                        //- span Agnieszka Wysocka
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Warszawa
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-5 12.05.2025
            p.review__text Zamówiłam w WhiteRabbit pranie dużego dywanu w salonie i efekt jest naprawdę świetny. Kolory stały się wyraźniejsze, zniknęły zabrudzenia, a dywan wygląda dużo świeżej. Bardzo polecam.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 1;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Mateusz B.
                        //- span Mateusz Baran
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Piaseczno
            .review__meta
                .rating.review__rating(style="--star-rating: 4.5;")
                .review__date.text-muted.date-8 12.05.2025
            p.review__text Profesjonalne czyszczenie od początku do końca. Dywan po kilku latach użytkowania odzyskał świeży wygląd. Szybki termin, miła obsługa i bardzo dokładna praca.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 2;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Karolina M.
                        //- span Karolina Malinowska
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Warszawa
            .review__meta
                .rating.review__rating(style="--star-rating: 4.5;")
                .review__date.text-muted.date-10 12.05.2025
            p.review__text WhiteRabbit czyściło u mnie kilka dywanów oraz mały chodnik w przedpokoju. Wszystko zostało wykonane starannie, bez bałaganu i z bardzo dobrym efektem.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 3;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Rafał Z.
                        //- span Rafał Zieliński
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Pruszków
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-20 12.05.2025
            p.review__text Mieliśmy sporo plam na dywanie po dzieciach i codziennym użytkowaniu. Po praniu różnica jest ogromna. Materiał jest czysty, miękki i przyjemny w dotyku.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 4;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Patrycja K.
                        //- span Patrycja Kowalczyk
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Warszawa
            .review__meta
                .rating.review__rating(style="--star-rating: 4;")
                .review__date.text-muted.date-43 12.05.2025
            p.review__text Bardzo dobra usługa prania dywanów w Warszawie. Kontakt z firmą bezproblemowy, pracownik przyjechał punktualnie i dokładnie wyczyścił cały dywan.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 5;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Dawid M.
                        //- span Dawid Michalak
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Marki
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-60 12.05.2025
            p.review__text Korzystałem pierwszy raz z prania dywanu i jestem bardzo zadowolony. Wszystko przebiegło sprawnie, cena była uczciwa, a efekt zdecydowanie widoczny.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 6;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Grzegorz M.
                        //- span Grzegorz Majewski
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Warszawa
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-120 12.05.2025
            p.review__text Zleciłem czyszczenie dużego jasnego dywanu, który był mocno zabrudzony. WhiteRabbit świetnie sobie poradziło, a efekt końcowy pozytywnie mnie zaskoczył.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 7;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Marta S.
                        //- span Marta Sikora
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Ząbki
            .review__meta
                .rating.review__rating(style="--star-rating: 4.5;")
                .review__date.text-muted.date-243 12.05.2025
            p.review__text Polecam każdemu, kto chce odświeżyć dywan bez kupowania nowego. Po czyszczeniu wygląda znacznie lepiej, a w mieszkaniu od razu zrobiło się przyjemniej.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
