.row.row-cols-sm-2.row-cols-md-3.row-cols-lg-4
    .col
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name Marek Ostrowski
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Zamówiłem w WhiteRabbit pranie tapicerki w samochodzie i jestem bardzo zadowolony. Fotele przednie i tylna kanapa wyglądają dużo lepiej, zniknęły zabrudzenia i nieprzyjemny zapach. Polecam.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name Kamil Nowicki
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Bardzo profesjonalna usługa. Auto po czyszczeniu wnętrza wygląda znacznie świeżej. Dokładnie wyprane zostały siedzenia, dywaniki oraz bagażnik. Wszystko wykonane starannie.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name Anna Michalak
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Oddałam samochód do czyszczenia po kilku latach użytkowania i efekt mnie zaskoczył. Tapicerka odzyskała kolor, a wnętrze jest czyste i przyjemnie pachnie.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name Tomasz Wójcik
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text WhiteRabbit świetnie poradziło sobie z zabrudzeniami na fotelach i boczkach drzwi. Widać dużą różnicę przed i po. Bardzo dobry kontakt i profesjonalne podejście.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name Natalia Pawłowska
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Zamawiałam pranie tapicerki samochodowej po podróżach z dziećmi. Plamy na kanapie i fotelach zostały usunięte, a całe wnętrze wygląda o wiele lepiej.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name Piotr Grabowski
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Pełen profesjonalizm. Czyszczona była podsufitka, podłoga oraz siedzenia. Wszystko wykonane dokładnie i bez pośpiechu. Auto wygląda jak dużo nowsze.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name Ewelina Król
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Polecam WhiteRabbit za dokładność i podejście do klienta. Tapicerka samochodowa została bardzo dobrze odświeżona, a cała usługa przebiegła szybko i sprawnie.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name Robert Zawadzki
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Świetna robota. Zamówiłem kompleksowe pranie wnętrza samochodu — fotele, kanapa, dywaniki i bagażnik. Efekt końcowy zdecydowanie wart swojej ceny.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
