.row.row-cols-sm-2.row-cols-md-3.row-cols-lg-4
    .col
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name
                    span Alicja Sokołowska
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Zamówiłam w WhiteRabbit mycie okien w całym mieszkaniu i jestem bardzo zadowolona. Szyby są idealnie czyste, bez smug, a cała praca została wykonana szybko i dokładnie.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name
                    span Michał Borkowski
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Bardzo dobra usługa. Okna po myciu wyglądają świetnie, wyczyszczone zostały również ramy i parapety. Profesjonalne podejście i punktualny przyjazd.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name
                    span Karolina Adamczyk
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Korzystałam z mycia okien po remoncie mieszkania. Było sporo kurzu i zabrudzeń, ale WhiteRabbit świetnie sobie poradziło. Efekt końcowy naprawdę robi różnicę.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name
                    span Paweł Zalewski
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Polecam tę firmę każdemu, kto szuka dokładnego mycia okien w Warszawie. Wszystko wykonane starannie, bez pośpiechu i bez pozostawionych zacieków.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name
                    span Monika Czerwińska
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Zamówiłam mycie dużych okien balkonowych i jestem bardzo zadowolona. Szyby są przejrzyste, ramy czyste, a mieszkanie od razu wygląda jaśniej.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name
                    span Grzegorz Lis
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text WhiteRabbit regularnie zajmuje się myciem okien w naszym biurze. Zawsze terminowo, dokładnie i z bardzo dobrym efektem. Zdecydowanie polecam.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name
                    span Joanna Wróbel
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Po zimie nasze okna wymagały solidnego czyszczenia. Usługa wykonana sprawnie, dokładnie umyte szyby, ramy oraz parapety. Bardzo miła obsługa.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name
                    span Daniel Kaczmarek
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Świetna jakość usługi. Zamówiłem mycie okien w domu jednorodzinnym i wszystko przebiegło bez problemu. Okna wyglądają jak nowe.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
