.row.row-cols-sm-2.row-cols-md-3.row-cols-lg-4
    .col.animate-fade-in(style="--i: 0;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Marek O.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Пястув
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-5 12.05.2025
            p.review__text Замовив у WhiteRabbit хімчистку салону автомобіля й залишився дуже задоволений. Передні сидіння та задній диван виглядають значно краще, забруднення й неприємний запах повністю зникли. Рекомендую.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 1;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Kamil N.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Варшава
            .review__meta
                .rating.review__rating(style="--star-rating: 4.5;")
                .review__date.text-muted.date-10 12.05.2025
            p.review__text Дуже професійна послуга. Після хімчистки салон автомобіля виглядає набагато свіжішим. Ретельно почистили сидіння, килимки та багажник. Усе виконано дуже якісно.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 2;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Anna M.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Варшава
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-14 12.05.2025
            p.review__text Віддала автомобіль на хімчистку після кількох років використання, і результат мене приємно здивував. Оббивка знову набула свого кольору, а салон став чистим і приємно пахне.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 3;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Tomasz W.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Мілянувек
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-35 12.05.2025
            p.review__text WhiteRabbit чудово впоралися із забрудненнями на сидіннях і дверних картах. Різниця до і після дуже помітна. Чудова комунікація та професійний підхід.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 4;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Natalia P.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Варшава
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-62 12.05.2025
            p.review__text Замовляла хімчистку салону автомобіля після подорожей із дітьми. Плями на задньому дивані та сидіннях повністю видалили, а весь салон став виглядати набагато краще.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 5;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Piotr G.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Прушкув
            .review__meta
                .rating.review__rating(style="--star-rating: 4.5;")
                .review__date.text-muted.date-89 12.05.2025
            p.review__text Повний професіоналізм. Почистили стелю салону, підлогу та сидіння. Усе виконано дуже ретельно й без поспіху. Автомобіль виглядає ніби набагато новіший.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 6;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Ewelina K.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Пясечно
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-91 12.05.2025
            p.review__text Рекомендую WhiteRabbit за уважність до деталей і чудове ставлення до клієнтів. Автомобільну оббивку дуже добре освіжили, а вся послуга була виконана швидко й професійно.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 7;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Robert Zawadzki
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Варшава
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-123 12.05.2025
            p.review__text Чудова робота. Замовив комплексну хімчистку салону автомобіля — сидіння, задній диван, килимки та багажник. Кінцевий результат повністю виправдав свою вартість.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше
