.row.row-cols-sm-2.row-cols-md-3.row-cols-lg-4
    .col
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name Anna Kowalska
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Bardzo polecam WhiteRabbit! Zamówiłam pranie dużego narożnika w salonie i efekt przeszedł moje oczekiwania. Materiał odzyskał świeży kolor, zniknęły plamy i nieprzyjemny zapach. Wszystko wykonane szybko i dokładnie.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name Michał Wiśniewski
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Korzystałem z usługi czyszczenia kanapy i fotela. Fachowe podejście, punktualny przyjazd i bardzo dobry efekt końcowy. Tapicerka wygląda dużo lepiej, jakby meble dostały drugie życie.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name Katarzyna Zielińska
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text WhiteRabbit czyściło u mnie sofę rozkładaną oraz poduchy meblowe. Jestem bardzo zadowolona, szczególnie że udało się usunąć stare zabrudzenia. Po czyszczeniu wszystko było świeże i pachnące.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name Tomasz Lewandowski
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Zamówiłem pranie foteli biurowych w mieszkaniu w Warszawie. Szybki termin, profesjonalny sprzęt i dokładna praca. Fotele po czyszczeniu wyglądają zdecydowanie lepiej.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name Magdalena Nowak
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Miałam problem z zabrudzonymi krzesłami tapicerowanymi po kilku latach użytkowania. WhiteRabbit świetnie sobie poradziło — materiał jest odświeżony, a większość plam całkowicie zniknęła.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name Piotr Kamiński
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Bardzo dobra usługa. Czyszczony był narożnik w kształcie U, który dawno nie był prany. Różnica przed i po ogromna. Miła obsługa i wszystko wykonane bardzo starannie.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name Aleksandra Wójcik
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Polecam czyszczenie tapicerki przez WhiteRabbit. Zamawiałam pranie kanapy oraz fotela uszaka. Praca wykonana dokładnie, bez pośpiechu, a meble wyglądają dużo świeżej.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name Marcin Dąbrowski
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Pełen profesjonalizm. Pranie wersalki przebiegło sprawnie, bez bałaganu w mieszkaniu. Dobry kontakt, uczciwa cena i bardzo widoczny efekt czyszczenia.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
