.row.row-cols-sm-2.row-cols-md-3.row-cols-lg-4
    .col
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name Natalia Bakreva
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Jestem bardzo zadowolona z usługi czyszczenia tapicerki! Sofa wygląda jak nowa – wszystkie plamy i zabrudzenia zniknęły, a materiał odzyskał świeżość i kolor. Ekipa działała szybko, profesjonalnie i zostawiła po sobie idealny porządek. Na pewno skorzystam ponownie i polecam każdemu, kto chce odświeżyć meble w swoim domu. 🌟…
                picture
                    source(srcset="img/review-img-1.webp" type="image/webp")
                    img.review__img(src="img/review-img-1.jpg" alt="" loading="lazy")
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name Ola K
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Polecam firmę Top Tap Clean. Wszystkie plamy z mojej kanapy oraz poduszek zniknęły. Bardzo szybki termin realizacji, miła obsługa i dobra cena.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name EFEKT NR GRANIT
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Miałem ogromny problem z zapachem moczu kota na sofie. Żadne domowe sposoby nie pomagały, a nieprzyjemny zapach utrzymywał się tygodniami. Ekipa poradziła sobie perfekcyjnie – kanapa jest czysta, świeża i pachnie jak nowa. Jestem zachwycona efektem i polecam każdemu właścicielowi zwierząt! 🐾✨…
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name Alicja GALIŃSKA
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Jestem akurat po praniu narożnika,usługa wykonana profesjonalnie i szybko aż się zdziwiłam...ale narożnik odświeżonym,czysty i pachnący.Dzięki za profesjonalizm..będę polecać dalej , na pewno jeszcze skorzystam .Pozdrawiam
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name Elżbieta Lempart
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Serdecznie polecam usługi firmy Top Tap Clean. Pan szybko i profesjonalnie podjął się umycia dużych okien w całym domu. Okna są czyste, że aż lśnią. Solidna firma i atrakcyjne ceny 😊…
                picture
                    source(srcset="img/review-img-3.webp" type="image/webp")
                    img.review__img(src="img/review-img-3.jpg" alt="" loading="lazy")
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name Janusz Antczak
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Jestem bardzo zadowolony z prania tapicerki i podsufitki samochodowej wykonanej przez firmę Top Tap Clean wykonanie profesjonalne i na wysokim poziomie jest to firma godna polecenia.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name Agnieszka Agnieszka
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Pan wyprał dwie wersalki bardzo szybko i dokładnie. Meble są jak nowe – czyste i pachnące. Sprawdził pH chemii, co było dla mnie ważne, bo mam małe dziecko. Wszystko odbyło się bezpiecznie, sprawnie i w miłej atmosferze. Pełen profesjonalizm i porządek po zakończeniu pracy. Polecam z czystym sumieniem! :)
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name Mirosław Sawicki
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Polecam Pana Dmitro - to fachowiec, który zna swoją sprawę.  Tapicerka wersalki po praniu jest jak nowa. Co więcej, kontrola pH po praniu i materiały najwyższej jakości. Latwy kontakt,  szybka realizacja i świetny wynik. Gorąco polecam.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
