.row.row-cols-sm-2.row-cols-md-3.row-cols-lg-4
    .col.animate-fade-in(style="--i: 0;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Marek O.
                        //- span Marek Ostrowski
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Piastów
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-5 12.05.2025
            p.review__text Zamówiłem w WhiteRabbit pranie tapicerki w samochodzie i jestem bardzo zadowolony. Fotele przednie i tylna kanapa wyglądają dużo lepiej, zniknęły zabrudzenia i nieprzyjemny zapach. Polecam.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 1;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Kamil N.
                        //- span Kamil Nowicki
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Warszawa
            .review__meta
                .rating.review__rating(style="--star-rating: 4.5;")
                .review__date.text-muted.date-10 12.05.2025
            p.review__text Bardzo profesjonalna usługa. Auto po czyszczeniu wnętrza wygląda znacznie świeżej. Dokładnie wyprane zostały siedzenia, dywaniki oraz bagażnik. Wszystko wykonane starannie.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 2;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Anna M.
                        //- span Anna Michalak
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Warszawa
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-14 12.05.2025
            p.review__text Oddałam samochód do czyszczenia po kilku latach użytkowania i efekt mnie zaskoczył. Tapicerka odzyskała kolor, a wnętrze jest czyste i przyjemnie pachnie.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 3;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Tomasz W.
                        //- span Tomasz Wójcik
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Milanówek
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-35 12.05.2025
            p.review__text WhiteRabbit świetnie poradziło sobie z zabrudzeniami na fotelach i boczkach drzwi. Widać dużą różnicę przed i po. Bardzo dobry kontakt i profesjonalne podejście.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 4;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Natalia P.
                        //- span Natalia Pawłowska
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Warszawa
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-62 12.05.2025
            p.review__text Zamawiałam pranie tapicerki samochodowej po podróżach z dziećmi. Plamy na kanapie i fotelach zostały usunięte, a całe wnętrze wygląda o wiele lepiej.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 5;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Piotr G.
                            //- span Piotr Grabowski
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Pruszków
            .review__meta
                .rating.review__rating(style="--star-rating: 4.5;")
                .review__date.text-muted.date-89 12.05.2025
            p.review__text Pełen profesjonalizm. Czyszczona była podsufitka, podłoga oraz siedzenia. Wszystko wykonane dokładnie i bez pośpiechu. Auto wygląda jak dużo nowsze.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 6;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Ewelina K.
                        //- span Ewelina Król
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Piaseczno
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-91 12.05.2025
            p.review__text Polecam WhiteRabbit za dokładność i podejście do klienta. Tapicerka samochodowa została bardzo dobrze odświeżona, a cała usługa przebiegła szybko i sprawnie.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 7;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Robert Zawadzki
                        //- span Robert Zawadzki
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Warszawa
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-123 12.05.2025
            p.review__text Świetna robota. Zamówiłem kompleksowe pranie wnętrza samochodu — fotele, kanapa, dywaniki i bagażnik. Efekt końcowy zdecydowanie wart swojej ceny.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
