.row.row-cols-sm-2.row-cols-md-3.row-cols-lg-4
    .col.animate-fade-in(style="--i: 0;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Alicja S.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Варшава
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-4 12.05.2025
            p.review__text Замовила у WhiteRabbit миття вікон у всій квартирі й залишилася дуже задоволена. Скло ідеально чисте, без розводів, а всю роботу виконали швидко та дуже ретельно.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 1;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Michał B.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Рашин
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-8 12.05.2025
            p.review__text Дуже якісна послуга. Після миття вікна виглядають чудово, також були ретельно очищені рами та підвіконня. Професійний підхід і пунктуальний приїзд.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 2;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Karolina A.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Варшава
            .review__meta
                .rating.review__rating(style="--star-rating: 4.5;")
                .review__date.text-muted.date-34 12.05.2025
            p.review__text Скористалася послугою миття вікон після ремонту квартири. Було багато пилу та бруду, але WhiteRabbit чудово впоралися. Кінцевий результат справді вражає.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 3;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Paweł Z.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Варшава
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-45 12.05.2025
            p.review__text Рекомендую цю компанію кожному, хто шукає якісне миття вікон у Варшаві. Усе виконано ретельно, без поспіху та без жодних розводів.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 4;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Monika C.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Сулеювек
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-56 12.05.2025
            p.review__text Замовила миття великих балконних вікон і дуже задоволена. Скло стало ідеально прозорим, рами чистими, а квартира одразу виглядає світлішою.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 5;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Grzegorz L.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Варшава
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-76 12.05.2025
            p.review__text WhiteRabbit регулярно займається миттям вікон у нашому офісі. Завжди вчасно, ретельно й з відмінним результатом. Однозначно рекомендую.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 6;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Joanna W.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Брвінув
            .review__meta
                .rating.review__rating(style="--star-rating: 4.5;")
                .review__date.text-muted.date-82 12.05.2025
            p.review__text Після зими наші вікна потребували ґрунтовного очищення. Послугу виконали швидко, ретельно вимили скло, рами та підвіконня. Дуже привітне обслуговування.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 7;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Daniel K.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Варшава
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-94 12.05.2025
            p.review__text Чудова якість послуги. Замовив миття вікон у приватному будинку, і все пройшло без жодних проблем. Вікна виглядають як нові.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше
