.row.row-cols-sm-2.row-cols-md-3.row-cols-lg-4
    .col.animate-fade-in(style="--i: 0;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Anna K.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Воломін
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-3 12.05.2025
            p.review__text Дуже рекомендую WhiteRabbit! Замовила хімчистку великого кутового дивана у вітальні, і результат перевершив усі мої очікування. Оббивка знову набула свіжого кольору, плями та неприємний запах повністю зникли. Усе було виконано швидко й дуже ретельно.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 1;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Michał W.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Варшава
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-32 12.05.2025
            p.review__text Скористався послугою хімчистки дивана та крісла. Професійний підхід, пунктуальний приїзд і чудовий кінцевий результат. Оббивка виглядає значно краще, ніби меблі отримали друге життя.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 2;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Katarzyna Z.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Лом'янкі
            .review__meta
                .rating.review__rating(style="--star-rating: 4.5;")
                .review__date.text-muted.date-56 12.05.2025
            p.review__text WhiteRabbit почистили в мене розкладний диван і меблеві подушки. Я дуже задоволена, особливо тим, що вдалося видалити старі забруднення. Після чищення все стало свіжим і приємно пахло.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 3;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Tomasz L.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Варшава
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-75 12.05.2025
            p.review__text Замовив хімчистку офісних крісел у квартирі у Варшаві. Швидкий приїзд, професійне обладнання та дуже якісно виконана робота. Після чищення крісла виглядають значно краще.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 4;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Magdalena N.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Юзефув
            .review__meta
                .rating.review__rating(style="--star-rating: 4.5;")
                .review__date.text-muted.date-89 12.05.2025
            p.review__text Мала проблему із забрудненими м'якими стільцями після кількох років користування. WhiteRabbit чудово впоралися — тканина стала свіжою, а більшість плям повністю зникла.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 5;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Piotr K.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Варшава
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-154 12.05.2025
            p.review__text Дуже якісна послуга. Чистили U-подібний кутовий диван, який давно не проходив хімчистку. Різниця до і після — величезна. Привітний сервіс і дуже ретельно виконана робота.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 6;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Aleksandra W.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Сулеювек
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-243 12.05.2025
            p.review__text Рекомендую хімчистку м'яких меблів від WhiteRabbit. Замовляла чищення дивана та крісла-вуханя. Роботу виконали дуже ретельно, без поспіху, а меблі виглядають набагато свіжішими.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 7;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Marcin D.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Варшава
            .review__meta
                .rating.review__rating(style="--star-rating: 4.5;")
                .review__date.text-muted.date-260 12.05.2025
            p.review__text Повний професіоналізм. Хімчистку тахти виконали швидко й без жодного безладу в квартирі. Гарна комунікація, чесна ціна та дуже помітний результат чищення.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше
