.row.row-cols-sm-2.row-cols-md-3.row-cols-lg-4
    .col.animate-fade-in(style="--i: 0;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name
                    span Ewa Mazur
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Zamówiłam w WhiteRabbit pranie materaca dwuosobowego i jestem bardzo zadowolona z efektu. Materac jest odświeżony, zniknęły zabrudzenia i znów przyjemnie się z niego korzysta. Polecam.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 1;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name
                    span Paweł Krawczyk
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Profesjonalna usługa od początku do końca. Czyszczenie materaca wykonane bardzo dokładnie, bez pośpiechu. Duży plus za punktualność i pozostawienie porządku po pracy.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 2;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name
                    span Joanna Szymańska
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Po kilku latach użytkowania materac zdecydowanie potrzebował odświeżenia. WhiteRabbit świetnie sobie poradziło — materiał wygląda dużo lepiej, a całość jest czysta i świeża.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 3;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name
                    span Adam Wojciechowski
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Korzystałem z prania materaca po przeprowadzce. Bardzo dobry kontakt, szybki termin i świetny efekt. Widać, że firma korzysta z profesjonalnego sprzętu.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 4;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name
                    span Natalia Grabowska
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Polecam czyszczenie materacy przez WhiteRabbit. Udało się usunąć ślady po codziennym użytkowaniu i odświeżyć całą powierzchnię. Wszystko wykonane sprawnie i starannie.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 5;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name
                    span Krzysztof Pawlak
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Zamówiłem pranie dwóch materacy w mieszkaniu w Warszawie. Usługa wykonana bardzo dokładnie, bez żadnych problemów. Dobry stosunek ceny do jakości.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 6;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name
                    span Monika Jankowska
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Miałam obawy, czy starszy materac uda się jeszcze dobrze wyczyścić, ale efekt pozytywnie mnie zaskoczył. Materac wygląda lepiej i jest dużo przyjemniejszy w użytkowaniu.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 7;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                h4.h6.review__name
                    span Łukasz Wróbel
                .rating.review__rating(style="--star-rating: 5;")
            p.review__text Bardzo solidna firma. Pranie materaca przebiegło szybko, pracownik wszystko wyjaśnił i zadbał o szczegóły. Na pewno skorzystam ponownie z usług WhiteRabbit.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
