.row.row-cols-sm-2.row-cols-md-3.row-cols-lg-4
    .col.animate-fade-in(style="--i: 0;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Anna K.
                        //- span Anna Kowalska
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Wołomin
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-3 12.05.2025
            p.review__text Bardzo polecam WhiteRabbit! Zamówiłam pranie dużego narożnika w salonie i efekt przeszedł moje oczekiwania. Materiał odzyskał świeży kolor, zniknęły plamy i nieprzyjemny zapach. Wszystko wykonane szybko i dokładnie.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 1;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Michał W.
                        //- span Michał Wiśniewski
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Warszawa
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-32 12.05.2025
            p.review__text Korzystałem z usługi czyszczenia kanapy i fotela. Fachowe podejście, punktualny przyjazd i bardzo dobry efekt końcowy. Tapicerka wygląda dużo lepiej, jakby meble dostały drugie życie.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 2;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Katarzyna Z.
                        //- span Katarzyna Zielińska
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Łomianki
            .review__meta
                .rating.review__rating(style="--star-rating: 4.5;")
                .review__date.text-muted.date-56 12.05.2025
            p.review__text WhiteRabbit czyściło u mnie sofę rozkładaną oraz poduchy meblowe. Jestem bardzo zadowolona, szczególnie że udało się usunąć stare zabrudzenia. Po czyszczeniu wszystko było świeże i pachnące.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 3;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Tomasz L.
                            //- span Tomasz Lewandowski
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Warszawa
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-75 12.05.2025
            p.review__text Zamówiłem pranie foteli biurowych w mieszkaniu w Warszawie. Szybki termin, profesjonalny sprzęt i dokładna praca. Fotele po czyszczeniu wyglądają zdecydowanie lepiej.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 4;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Magdalena N.
                            //- span Magdalena Nowak
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Józefów
            .review__meta
                .rating.review__rating(style="--star-rating: 4.5;")
                .review__date.text-muted.date-89 12.05.2025
            p.review__text Miałam problem z zabrudzonymi krzesłami tapicerowanymi po kilku latach użytkowania. WhiteRabbit świetnie sobie poradziło — materiał jest odświeżony, a większość plam całkowicie zniknęła.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 5;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Piotr K.
                        //- span Piotr Kamiński
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Warszawa
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-154 12.05.2025
            p.review__text Bardzo dobra usługa. Czyszczony był narożnik w kształcie U, który dawno nie był prany. Różnica przed i po ogromna. Miła obsługa i wszystko wykonane bardzo starannie.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 6;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Aleksandra W.
                        //- span Aleksandra Wójcik
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Sulejówek
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-243 12.05.2025
            p.review__text Polecam czyszczenie tapicerki przez WhiteRabbit. Zamawiałam pranie kanapy oraz fotela uszaka. Praca wykonana dokładnie, bez pośpiechu, a meble wyglądają dużo świeżej.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
    .col.animate-fade-in(style="--i: 7;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Marcin D.
                        //- span Marcin Dąbrowski
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Warszawa
            .review__meta
                .rating.review__rating(style="--star-rating: 4.5;")
                .review__date.text-muted.date-260 12.05.2025
            p.review__text Pełen profesjonalizm. Pranie wersalki przebiegło sprawnie, bez bałaganu w mieszkaniu. Dobry kontakt, uczciwa cena i bardzo widoczny efekt czyszczenia.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Pokaż więcej
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Pokaż mniej
