.row.row-cols-sm-2.row-cols-md-3.row-cols-lg-4
    .col.animate-fade-in(style="--i: 0;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Agnieszka W.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Варшава
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-5 12.05.2025
            p.review__text Замовила у WhiteRabbit хімчистку великого килима у вітальні, і результат справді чудовий. Кольори стали яскравішими, забруднення повністю зникли, а килим виглядає набагато свіжішим. Дуже рекомендую.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 1;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Mateusz B.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Пясечно
            .review__meta
                .rating.review__rating(style="--star-rating: 4.5;")
                .review__date.text-muted.date-8 12.05.2025
            p.review__text Професійне чищення від початку до кінця. Килим після кількох років використання знову набув свіжого вигляду. Швидкий виїзд, привітне обслуговування та дуже якісно виконана робота.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 2;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Karolina M.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Варшава
            .review__meta
                .rating.review__rating(style="--star-rating: 4.5;")
                .review__date.text-muted.date-10 12.05.2025
            p.review__text WhiteRabbit почистили в мене кілька килимів і невелику доріжку в передпокої. Усе було виконано ретельно, без жодного безладу та з відмінним результатом.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 3;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Rafał Z.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Прушкув
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-20 12.05.2025
            p.review__text На килимі було багато плям після дітей і щоденного користування. Після хімчистки різниця просто величезна. Матеріал став чистим, м'яким і дуже приємним на дотик.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 4;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Patrycja K.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Варшава
            .review__meta
                .rating.review__rating(style="--star-rating: 4;")
                .review__date.text-muted.date-43 12.05.2025
            p.review__text Дуже якісна послуга з хімчистки килимів у Варшаві. Зв'язатися з компанією було легко, спеціаліст приїхав вчасно та ретельно почистив увесь килим.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 5;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Dawid M.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Маркі
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-60 12.05.2025
            p.review__text Скористався послугою хімчистки килима вперше й залишився дуже задоволений. Усе пройшло швидко, ціна була справедливою, а результат справді помітний.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 6;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Grzegorz M.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Варшава
            .review__meta
                .rating.review__rating(style="--star-rating: 5;")
                .review__date.text-muted.date-120 12.05.2025
            p.review__text Замовив хімчистку великого світлого килима, який був сильно забруднений. WhiteRabbit чудово впоралися із завданням, а кінцевий результат приємно здивував.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше

    .col.animate-fade-in(style="--i: 7;")
        .review.card.card-primary-outline.card-leaf
            .review__header
                img.review__ava(src="img/rabbit-ava.png", alt="")
                .review__user
                    h4.h6.review__name
                        span Marta S.
                    .reviews__city.text-secondary
                        svg.icon.icon-right(width="16" height="16")
                            use(href="#geo")
                        | Зомбки
            .review__meta
                .rating.review__rating(style="--star-rating: 4.5;")
                .review__date.text-muted.date-243 12.05.2025
            p.review__text Рекомендую всім, хто хоче освіжити килим без купівлі нового. Після чищення він виглядає значно краще, а в квартирі одразу стало затишніше.
            .review__toggle
                span.in-active-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye")
                    | Показати більше
                span.in-inactive-none
                    svg.icon.icon-right(width="16" height="16")
                        use(href="#eye-close")
                    | Показати менше
