.section {
    position: relative;

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__shape {
        height: 80px;
        background-color: var(--substrate-color);
        position: relative;
        z-index: 2;

        &:before,
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            height: 80px;
            width: 80px;
            background-color: var(--substrate-color);
            clip-path: path("M 0,0 A 40,40 0,0,1 40,40 A 40,40 0,0,0 80,80 L 80,0");
        }

        &:before {
            right: 100%;
        }

        &:after {
            left: 100%;
        }

        &-top {
            &:before {}

            &:after {
                transform: scale(-1, 1);
            }
        }

        &-bottom {
            &:before {
                transform: scale(1, -1);
            }

            &:after {
                transform: scale(-1, -1);
            }
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__header {
        max-width: 50%;

        @media screen and (max-width: 991px) {
            max-width: 100%;
        }

        &-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            border-bottom: 4px solid var(--color-2-base);
            padding-bottom: 15px;
            margin-bottom: 15px;
        }

        &--fill {
            max-width: 100%;
        }
    }

    &__footer {
        max-width: 30%;
        margin-left: auto;
        &--fill {
            max-width: 100%;
            margin-left: 0;
        }

        @media screen and (max-width: 991px) {
            max-width: 100%;
            margin-left: 0;
        }
    }

    &-accent {
        --parallax-y: 0px;
        border-radius: 0 10rem;
        max-width: calc(100% - 20px);
        margin-left: auto;
        margin-right: auto;
        // background: linear-gradient(to right, var(--color-1-tint-2) 0%, var(--color-2-tint-2) 50%, transparent 100%);
        background-color: var(--color-2-tint-2);
        background-image: url(../img/boobles.svg);
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: left center;
        position: relative;

        &--main {
            background: linear-gradient(to right, var(--color-1-tint-2) 0%, var(--color-2-tint-2) 50%, transparent 100%), url(../img/main-bg.png);
            background-size: auto 100%;
            background-repeat: no-repeat;
            background-position: center 50vw;
        }
    }


}


        .decor-lavender {
            position: relative;

            &:before {
                content: "";
                display: block;
                height: 150px;
                width: 150px;
                background-image: url(../img/lavender-1.png);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                right: 100%;
                bottom: 0;
                z-index: 2;
            }
        }

        .decor-rabbit {
            position: relative;
            &:after {
                content: "";
                display: block;
                height: 150px;
                width: 150px;
                background-image: url(../img/rabbit-1.png);
                background-position: left center;
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                left: 100%;
                bottom: 0;
                z-index: 2;
            }
        }
