.card {
    padding: var(--padding, 1rem);
    position: relative;
    height: 100%;
    border: 1px solid var(--border-color, transparent);

    @media screen and (max-width: 575px) {
        padding: var(--padding, 0.75rem);
    }

    &-rounded {
        border-radius: 1rem;
    }

    &-pillow {
        border-radius: 50rem;
    }

    &-leaf {
        --leaf-radius: 4rem;
        --padding: 1.5rem;
        border-radius: var(--leaf-radius) 0;

        @media screen and (min-width: 1200px) {
            --leaf-radius: 5rem;
            --padding: 2rem;
        }
    }

    &-large {
        padding: 1.5rem;
        font-size: 1.5rem;
    }

    &-normal {
        padding: 1rem;
        font-size: 1rem;
    }

    &-small {
        padding: 0.75rem;
        font-size: 0.875rem;
    }

    &-extra-small {
        padding: 0.5rem;
        font-size: 0.5rem;
    }

    &__header {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }


    &__icon {
        svg {
            vertical-align: middle;
        }
    }

    &__body {
        margin-top: 1rem;
        // border-left: 4px solid var(--color-2-base);
        // padding-left: 1.5rem;
        position: relative;

    }

    &-primary {
        --border-color: var(--color-1-base);
        background-color: var(--color-1-base);
        color: var(--color-1-tint-2);
        &.input::placeholder {
            color: var(--color-1-tint-2);
            opacity: 0.8;
        }
        &.active {
            --border-color: var(--color-1-shade-1);
            background-color: var(--color-1-shade-1);
            color: var(--color-1-tint-2);
        }

        &-outline {

            --border-color: #BCB0F210;
            background-color: var(--color-1-tint-2);
            color: var(--color-1-base);
            &.input::placeholder {
                color: var(--color-1-base);
                opacity: 0.8;
            }
            &.active {
                --border-color: var(--color-1-base);
                background-color: var(--color-1-base);
                color: var(--color-1-tint-2);
            }
        }

    }

    &-secondary {
        --border-color: var(--color-2-base);
        background-color: var(--color-2-base);
        color: var(--color-2-tint-2);
        &.input::placeholder {
            color: var(--color-2-tint-2);
            opacity: 0.8;
        }
        &.active {
            --border-color: var(--color-2-shade-1);
            background-color: var(--color-2-shade-1);
            color: var(--color-2-tint-2);
        }

        &-outline {
            --border-color: var(--color-2-tint-2);
            background-color: var(--color-2-tint-2);
            color: #64982c;
            &.input::placeholder {
                color: var(--color-2-base);
                opacity: 0.8;
            }
            &.active {
                --border-color: var(--color-2-base);
                background-color: var(--color-2-base);
                color: var(--color-2-tint-2);
            }
        }
    }
    &-danger {
        --border-color: rgb(255, 63, 63);
        background-color: rgb(255, 63, 63);
        color: rgb(255, 236, 236);

        &.active {
        --border-color: rgb(255, 0, 0);
        background-color: rgb(255, 0, 0);
            color: rgb(255, 236, 236);
        }

        &-outline {
            --border-color: rgb(255, 63, 63);
            background-color: rgb(255, 236, 236);
            color: rgb(255, 63, 63);

            &.active {
        --border-color: rgb(255, 0, 0);
            background-color: rgb(255, 0, 0);
            color: rgb(255, 236, 236);
            }
        }
    }

    &-white {
        background-color: var(--neutral-color);
        color: var(--color-1-shade-1);
    }


}
