.promo {
    &__title {
        margin-bottom: 2rem !important;
    }
    &__pre-title {
        margin-bottom: 0.5rem;
    }
    &__rating {
        display: flex;
        align-items: center;
        gap: 0.25rem;
    }
    &__content {
        max-width: 800px;
    }
    background: linear-gradient(to right, var(--color-1-tint-2) 40%, transparent 100%),
    url(../img/main-bg-3.png);
    background-size: cover, auto 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: left center, center;

    @media screen and (min-width: 992px) {
        background-position: left center, right center;
    }

}
