.beer-slider-wrapper.h-100.d-flex.align-items-center.justify-content-center
    #window-slider.beer-slider(data-beer-label="Przed")
        picture
            source(type="image/webp" srcset="img/window-before-mob.webp" media="(max-width: 430px)")
            source(srcset="img/window-before-mob.png" media="(max-width: 430px)")
            source(type="image/webp" srcset="img/window-before.webp")
            img(src="img/window-before.png" alt="")
        .beer-reveal(data-beer-label="Po")
            picture.water-mark
                source(type="image/webp" srcset="img/window-after-mob.webp" media="(max-width: 430px)")
                source(srcset="img/window-after-mob.png" media="(max-width: 430px)")
                source(type="image/webp" srcset="img/window-after.webp")
                img(src="img/window-after.png" alt="")
