h3 Pranie dywanu —&nbsp;
    span.text-accent widoczna różnica po czyszczeniu
p Usuwamy codzienne zabrudzenia, kurz oraz plamy, przywracając kanapom i fotelom świeży wygląd oraz przyjemność użytkowania.
.text-center.beer-slider-wrapper.h-100.d-flex.align-items-center.justify-content-center
    #carpet-slider.beer-slider(data-beer-label="")
        picture
            source(type="image/webp" srcset="img/carpet-before-mob.webp" media="(max-width: 430px)")
            source(srcset="img/carpet-before-mob.png" media="(max-width: 430px)")
            source(type="image/webp" srcset="img/carpet-before.webp")
            img(src="img/carpet-before.png" alt="")
        .beer-reveal(data-beer-label="")
            picture
                source(type="image/webp" srcset="img/carpet-after-mob.webp" media="(max-width: 430px)")
                source(srcset="img/carpet-after-mob.png" media="(max-width: 430px)")
                source(type="image/webp" srcset="img/carpet-after.webp")
                img(src="img/carpet-after.png" alt="")
