.beer-slider-wrapper.h-100.d-flex.align-items-center.justify-content-center
    #furniture-slider.beer-slider(data-beer-label="Przed")
        picture
            source(type="image/webp" srcset="img/sofa-before-mob.webp" media="(max-width: 430px)")
            source(srcset="img/sofa-before-mob.png" media="(max-width: 430px)")
            source(type="image/webp" srcset="img/sofa-before.webp")
            img(src="img/sofa-before.png" alt="")
        .beer-reveal(data-beer-label="Po")
            picture.water-mark
                source(type="image/webp" srcset="img/sofa-after-mob.webp" media="(max-width: 430px)")
                source(srcset="img/sofa-after-mob.png" media="(max-width: 430px)")
                source(type="image/webp" srcset="img/sofa-after.webp")
                img(src="img/sofa-after.png" alt="")
