.beer-slider-wrapper.h-100.d-flex.align-items-center.justify-content-center
    #carpet-slider.beer-slider(data-beer-label="Przed")
        picture
            //- source(type="image/webp" srcset="img/carpet-before-mob.webp" media="(max-width: 430px)")
            //- source(srcset="img/carpet-before-mob.png" media="(max-width: 430px)")
            //- source(type="image/webp" srcset="img/carpet-before.webp")
            img(src="img/carpet-before.png" alt="")
        .beer-reveal(data-beer-label="Po")
            picture.water-mark
                //- source(type="image/webp" srcset="img/carpet-after-mob.webp" media="(max-width: 430px)")
                //- source(srcset="img/carpet-after-mob.png" media="(max-width: 430px)")
                //- source(type="image/webp" srcset="img/carpet-after.webp")
                img(src="img/carpet-after.png" alt="")
