.row.row-cols-sm-2.row-cols-md-3.row-cols-lg-4
    .col
        .card.card-primary-outline.card-leaf
            .price-item
                h5.h6.price-item__title Pranie tapicerki samochodowej (fotele przód+kanapa tylna)
                .price-item__value od 250zł
    //- .col
    //-     .card.card-primary-outline.card-leaf
    //-         .price-item
    //-             h5.h6.price-item__title Kompleksowe czyszczenie wnętrz auta (pranie tapicerki, podłogi, bagażnik, plastikowe elementy, kokpit, boczki, mycie szyb, podsufitka)
    //-             .price-item__value od 700zł
.col-12
    i
        small * Minimalny koszt wyjazdu 130zł.
