.row.row-cols-sm-2.row-cols-md-3.row-cols-lg-4
    .col.animate-fade-in
        .card.card-primary-outline.card-leaf
            .price-item
                h4.h6.price-item__title Mycie okien
                .price-item__value od 10zł/m2
p
    i
        small * Minimalny koszt wyjazdu 130zł.
