.row.row-cols-sm-2.row-cols-md-3.row-cols-lg-4
    .col
        .card.card-primary-outline.card-leaf
            .price-item
                h5.h6.price-item__title Dywan/wykładzina
                .price-item__value od 25zł/m2
    .col
        .card.card-primary-outline.card-leaf
            .price-item
                h5.h6.price-item__title Pranie wykładzin do 30m2
                .price-item__value od 20złzł/m2
    .col
        .card.card-primary-outline.card-leaf
            .price-item
                h5.h6.price-item__title Pranie wykładzin powyżej 100m2
                .price-item__value wycena indywidualna
.col-12
    i
        small * Minimalny koszt wyjazdu 130zł.
