.row.row-cols-sm-2.row-cols-md-3.row-cols-lg-4
    .col.animate-fade-in(style="--i: 0;")
        .card.card-primary-outline.card-leaf
            .price-item
                h4.h6.price-item__title Кутовий диван L-подібної форми без подушок
                .price-item__row
                    .price-item__value від 260 зл
    .col.animate-fade-in(style="--i: 1;")
        .card.card-primary-outline.card-leaf
            .price-item
                h4.h6.price-item__title Кутовий диван U-подібної форми без подушок
                .price-item__row
                    .price-item__value від 400 зл
    .col.animate-fade-in(style="--i: 2;")
        .card.card-primary-outline.card-leaf
            .price-item
                h4.h6.price-item__title Диван, тахта
                .price-item__row
                    .price-item__value від 220 зл
    .col.animate-fade-in(style="--i: 3;")
        .card.card-primary-outline.card-leaf
            .price-item
                h4.h6.price-item__title Розкладне крісло / крісло-вухань
                .price-item__row
                    .price-item__value від 100 зл
    .col.animate-fade-in(style="--i: 4;")
        .card.card-primary-outline.card-leaf
            .price-item
                h4.h6.price-item__title Стільці
                .price-item__row
                    .price-item__value від 25 зл
    .col.animate-fade-in(style="--i: 5;")
        .card.card-primary-outline.card-leaf
            .price-item
                h4.h6.price-item__title Меблева подушка
                .price-item__row
                    .price-item__value від 20 зл/шт
    .col.animate-fade-in(style="--i: 6;")
        .card.card-primary-outline.card-leaf
            .price-item
                h4.h6.price-item__title Чищення офісних крісел
                .price-item__row
                    .price-item__value від 35 зл/шт
.col-12
    i
        small * Чищення шкіряних меблів +30% до стандартної вартості.
    br
    i
        small ** Мінімальна вартість виїзду — 130 зл.
