.row.row-cols-sm-2.row-cols-md-3.row-cols-lg-4
    .col.animate-fade-in(style="--i: 0;")
        .card.card-primary-outline.card-leaf
            .price-item
                h4.h6.price-item__title Dywan/wykładzina
                .price-item__value od 25zł/m2
    .col.animate-fade-in(style="--i: 1;")
        .card.card-primary-outline.card-leaf
            .price-item
                h4.h6.price-item__title Pranie wykładzin do 30m2
                .price-item__value od 20złzł/m2
    .col.animate-fade-in(style="--i: 2;")
        .card.card-primary-outline.card-leaf
            .price-item
                h4.h6.price-item__title Pranie wykładzin powyżej 100m2
                .price-item__value wycena indywidualna
p
    i
        small * Minimalny koszt wyjazdu 130zł.
