.row.row-cols-sm-2.row-cols-md-3.row-cols-lg-4
    .col.animate-fade-in(style="--i: 0;")
        .card.card-primary-outline.card-leaf
            .price-item
                h4.h6.price-item__title Односпальний матрац
                .price-item__value з одного боку — 180 зл
                .price-item__value з обох боків — від 330 зл
    .col.animate-fade-in(style="--i: 1;")
        .card.card-primary-outline.card-leaf
            .price-item
                h4.h6.price-item__title Двоспальний матрац
                .price-item__value з одного боку — 250 зл
                .price-item__value з обох боків — від 450 зл
p
    i
        small * Мінімальна вартість виїзду — 130 зл.
