.row.row-cols-sm-2.row-cols-md-3.row-cols-lg-4
    .col.animate-fade-in(style="--i: 0;")
        .card.card-primary-outline.card-leaf
            .price-item
                h4.h6.price-item__title Narożnik typu litery L bez poduch
                .price-item__row
                    .price-item__value od 260zł
                    //- form.price-item__calculation.calculation(data-name="Narożnik typu litery L bez poduch" data-price="260" data-id="price-furniture-1")
                    //-     input.calculation__count.input.card.card-secondary.card-pillow.card-small.text-center(type="number", required, name="count")
                    //-     button(type="submit").calculation__increase.btn.btn-primary.btn-small.btn-circle
                    //-         svg.d-block(width="12" height="12")
                    //-             use(href="#cart-add")
    .col.animate-fade-in(style="--i: 1;")
        .card.card-primary-outline.card-leaf
            .price-item
                h4.h6.price-item__title Narożnik typu litery U bez poduch
                .price-item__row
                    .price-item__value od 400zł
                    //- form.price-item__calculation.calculation(data-name="Narożnik typu litery U bez poduch" data-price="400" data-id="price-furniture-2")
                    //-     input.calculation__count.input.card.card-secondary.card-pillow.card-small.text-center(type="number", required, name="count")
                    //-     button(type="submit").calculation__increase.btn.btn-primary.btn-small.btn-circle
                    //-         svg.d-block(width="12" height="12")
                    //-             use(href="#cart-add")
    .col.animate-fade-in(style="--i: 2;")
        .card.card-primary-outline.card-leaf
            .price-item
                h4.h6.price-item__title Kanapa, wersalka
                .price-item__row
                    .price-item__value od 220zł
                    //- form.price-item__calculation.calculation(data-name="Narożnik typu litery U bez poduch" data-price="400" data-id="price-furniture-3")
                    //-     input.calculation__count.input.card.card-secondary.card-pillow.card-small.text-center(type="number", required, name="count")
                    //-     button(type="submit").calculation__increase.btn.btn-primary.btn-small.btn-circle
                    //-         svg.d-block(width="12" height="12")
                    //-             use(href="#cart-add")
    .col.animate-fade-in(style="--i: 3;")
        .card.card-primary-outline.card-leaf
            .price-item
                h4.h6.price-item__title Fotel rozkladany / Uszak
                .price-item__row
                    .price-item__value od 100zł
                    //- form.price-item__calculation.calculation(data-name="Narożnik typu litery U bez poduch" data-price="400" data-id="price-furniture-4")
                    //-     input.calculation__count.input.card.card-secondary.card-pillow.card-small.text-center(type="number", required, name="count")
                    //-     button(type="submit").calculation__increase.btn.btn-primary.btn-small.btn-circle
                    //-         svg.d-block(width="12" height="12")
                    //-             use(href="#cart-add")
    .col.animate-fade-in(style="--i: 4;")
        .card.card-primary-outline.card-leaf
            .price-item
                h4.h6.price-item__title Krzesła
                .price-item__row
                    .price-item__value od 25zł
                    //- form.price-item__calculation.calculation(data-name="Narożnik typu litery U bez poduch" data-price="400" data-id="price-furniture-5")
                    //-     input.calculation__count.input.card.card-secondary.card-pillow.card-small.text-center(type="number", required, name="count")
                    //-     button(type="submit").calculation__increase.btn.btn-primary.btn-small.btn-circle
                    //-         svg.d-block(width="12" height="12")
                    //-             use(href="#cart-add")
    .col.animate-fade-in(style="--i: 5;")
        .card.card-primary-outline.card-leaf
            .price-item
                h4.h6.price-item__title Poducha meblowa
                .price-item__row
                    .price-item__value od 20zł/szt
                    //- form.price-item__calculation.calculation(data-name="Narożnik typu litery U bez poduch" data-price="400" data-id="price-furniture-6")
                    //-     input.calculation__count.input.card.card-secondary.card-pillow.card-small.text-center(type="number", required, name="count")
                    //-     button(type="submit").calculation__increase.btn.btn-primary.btn-small.btn-circle
                    //-         svg.d-block(width="12" height="12")
                    //-             use(href="#cart-add")
    .col.animate-fade-in(style="--i: 6;")
        .card.card-primary-outline.card-leaf
            .price-item
                h4.h6.price-item__title Pranie foteli biurowych
                .price-item__row
                    .price-item__value od 35zł/szt
                    //- form.price-item__calculation.calculation(data-name="Narożnik typu litery U bez poduch" data-price="400" data-id="price-furniture-7")
                    //-     input.calculation__count.input.card.card-secondary.card-pillow.card-small.text-center(type="number", required, name="count")
                    //-     button(type="submit").calculation__increase.btn.btn-primary.btn-small.btn-circle
                    //-         svg.d-block(width="12" height="12")
                    //-             use(href="#cart-add")
.col-12
    i
        small * Czyszczenie mebli skórzanych +30% od standardowej ceny.
    br
    i
        small ** Minimalny koszt wyjazdu 130zł.
