.row.row-cols-sm-2.row-cols-md-3.row-cols-lg-4
    .col.animate-fade-in(style="--i: 0;")
        .card.card-primary-outline.card-leaf
            .price-item
                h4.h6.price-item__title Килим/ковролін
                .price-item__value від 25 зл/м²
    .col.animate-fade-in(style="--i: 1;")
        .card.card-primary-outline.card-leaf
            .price-item
                h4.h6.price-item__title Чищення ковроліну до 30 м²
                .price-item__value від 20 зл/м²
    .col.animate-fade-in(style="--i: 2;")
        .card.card-primary-outline.card-leaf
            .price-item
                h4.h6.price-item__title Чищення ковроліну понад 100 м²
                .price-item__value індивідуальний розрахунок
p
    i
        small * Мінімальна вартість виїзду — 130 зл.
