section.about#about.section.section-accent
    .container
        .section__header.js-observe
            .section__shape.section__shape-top.section__inner
                h2.section__title.text-uppercase Про нас
                h3.h6.section__subtitle.mb-0.text-light.text-primary ✦ Команда, яка любить свою справу та цінує ваш час
        .section__body.block.js-observe
            .about__content
                .card.card-white.card-rounded.animate-fade-in(style="--i: 1;")
                    p Наші клієнти довіряють нам, адже до кожного замовлення ми ставимося з максимальною відповідальністю та професіоналізмом. Ми спеціалізуємося на хімчистці м'яких меблів, матраців, килимів, митті вікон та хімчистці салону автомобіля.
                    p Щодня ми видаляємо найрізноманітніші забруднення: плями від їжі та напоїв, шерсть домашніх тварин, неприємні запахи, плісняву та глибоко в'їдений пил.
                    p Завдяки нашому досвіду, професійному обладнанню та ефективним засобам для чищення ми успішно усуваємо навіть складні забруднення, повертаючи чистоту та свіжість, завдяки яким наші клієнти із задоволенням звертаються до нас знову.
        .section__footer.jpg.js-observe
            .section__shape.section__shape-bottom.section__inner
                .section__helper.animate-fade-in(style="--i: 10;")
                    .helper
                        .helper__message(data-text="Хочете познайомитися з нами? 🐰 Напишіть нам!")
                            span.js-helper-text
                        img.helper__rabbit(src="img/rabbit-1.webp", alt="")
                .section__btn
                    include cta-button-ua
