section.about#about.section.section-accent
    .container
        .section__header
            .section__shape.section__shape-top.section__inner(data-aos="fade-right" data-aos-delay="200")
                h2.section__title.text-uppercase O nas
                h3.h6.section__subtitle.mb-0.text-light.text-primary ✦ Zespół, który kocha swoją pracę i ceni Twój czas
        .section__body.block(data-aos="fade-left" data-aos-delay="200")
            .card.card-white.card-rounded
                p Nasi klienci nam ufają, ponieważ do każdej pracy podchodzimy z pełnym profesjonalizmem. Specjalizujemy się w czyszczeniu tapicerki meblowej, materacy, dywanów, okien oraz w praniu tapicerki samochodowej.
                p Każdego dnia usuwamy różnego rodzaju plamy: z jedzenia i napojów, sierść zwierząt domowych, nieprzyjemne zapachy, pleśń oraz głęboko osadzony kurz.
                p Dzięki naszemu doświadczeniu, specjalistycznemu sprzętowi oraz skutecznym środkom czyszczącym skutecznie usuwamy wszelkie zabrudzenia, przywracając świeżość i czystość, które sprawiają, że klienci chętnie do nas wracają.
        .section__footer.decor-rabbit
            .section__shape.section__shape-bottom.section__inner(data-aos="flip-right" data-aos-delay="200")
                .section__btn
                    include cta-button
