a.btn.btn-primary.btn-normal.text-center.btn-pillow.w-100.text-nowrap(href="https://wa.me/48531903619" target="_blank" rel="noopener")
    svg.icon.icon-right.shake(width="16" height="16")
        use(href="#whatsapp")
    | Zadzwoń
