section.faq#faq.section.section-accent
    .container
        .section__header
            .section__shape.section__shape-top.section__inner(data-aos="fade-right" data-aos-delay="200")
                h2.section__title.text-uppercase Najczęstsze pytania
                h3.h6.section__subtitle.text-light.mb-0.text-primary ✦ Poznaj odpowiedzi na najczęstsze pytania
        .section__body.block
            .accordion
                .accordion-item.card.card-primary-outline
                    .accordion-item__header
                        h2.h6.accordion-item__title Jak często należy czyścić meble tapicerowane?
                        button.accordion-item__btn.btn.btn-small.btn.btn-primary#accordion-btn-1.btn-circle(type="button" aria-expanded="false" aria-controls="faq-item-1")
                            span.sr-only Toggle cards
                            svg.icon.in-active-none(width="16" height="16")
                                use(href="#plus")
                            svg.icon.in-inactive-none(width="16" height="16")
                                use(href="#minus")
                    .accordion-item__body#faq-item-1(aria-labelledby="accordion-btn-1")
                        div Zalecamy profesjonalne czyszczenie tapicerki meblowej co 6–12 miesięcy. W domach, gdzie są dzieci, zwierzęta domowe lub osoby cierpiące na alergie, warto robić to częściej, aby meble pozostały czyste i świeże.
                .accordion-item.card.card-primary-outline
                    .accordion-item__header
                        h2.h6.accordion-item__title Czy można usunąć wszystkie plamy?
                        button.accordion-item__btn.btn.btn-small.btn.btn-primary#accordion-btn-2.btn-circle(type="button" aria-expanded="false" aria-controls="faq-item-2")
                            span.sr-only Toggle cards
                            svg.icon.in-active-none(width="16" height="16")
                                use(href="#plus")
                            svg.icon.in-inactive-none(width="16" height="16")
                                use(href="#minus")
                    .accordion-item__body#faq-item-2(aria-labelledby="accordion-btn-2")
                        div Większość plam można skutecznie usunąć, ale wszystko zależy od rodzaju plamy, czasu jej obecności oraz wcześniejszych prób czyszczenia. Niektóre uporczywe plamy mogą pozostawić niewielkie przebarwienia.
                .accordion-item.card.card-primary-outline
                    .accordion-item__header
                        h2.h6.accordion-item__title Ile czasu potrzebuje tapicerka, aby wyschła po czyszczeniu?
                        button.accordion-item__btn.btn.btn-small.btn.btn-primary#accordion-btn-3.btn-circle(type="button" aria-expanded="false" aria-controls="faq-item-3")
                            span.sr-only Toggle cards
                            svg.icon.in-active-none(width="16" height="16")
                                use(href="#plus")
                            svg.icon.in-inactive-none(width="16" height="16")
                                use(href="#minus")
                    .accordion-item__body#faq-item-3(aria-labelledby="accordion-btn-3")
                        div Czas schnięcia zależy od rodzaju materiału oraz warunków w pomieszczeniu. Zazwyczaj zajmuje to od 5 do 12 godzin. Tapicerka schnie szybciej w ciepłym i dobrze wentylowanym miejscu. Za dodatkową opłatą zgodnie z cennikiem można skorzystać z usługi przyspieszonego suszenia.
                .accordion-item.card.card-primary-outline
                    .accordion-item__header
                        h2.h6.accordion-item__title Czy środki czyszczące są bezpieczne dla dzieci i zwierząt domowych?
                        button.accordion-item__btn.btn.btn-small.btn.btn-primary#accordion-btn-4.btn-circle(type="button" aria-expanded="false" aria-controls="faq-item-4")
                            span.sr-only Toggle cards
                            svg.icon.in-active-none(width="16" height="16")
                                use(href="#plus")
                            svg.icon.in-inactive-none(width="16" height="16")
                                use(href="#minus")
                    .accordion-item__body#faq-item-4(aria-labelledby="accordion-btn-4")
                        div Tak. Używamy certyfikowanych środków, które są bezpieczne i nie powodują alergii. Po czyszczeniu zalecamy nie korzystać z mebli, dopóki całkowicie nie wyschną.
                .accordion-item.card.card-primary-outline
                    .accordion-item__header
                        h2.h6.accordion-item__title Jak przygotować meble do czyszczenia?
                        button.accordion-item__btn.btn.btn-small.btn.btn-primary#accordion-btn-5.btn-circle(type="button" aria-expanded="false" aria-controls="faq-item-5")
                            span.sr-only Toggle cards
                            svg.icon.in-active-none(width="16" height="16")
                                use(href="#plus")
                            svg.icon.in-inactive-none(width="16" height="16")
                                use(href="#minus")
                    .accordion-item__body#faq-item-5(aria-labelledby="accordion-btn-5")
                        div Wystarczy usunąć poduszki, koce i inne przedmioty z mebli. Nie ma potrzeby ich przestawiać ani przesuwać — wszystkim zajmiemy się na miejscu.
        .section__footer.decor-rabbit
            .section__shape.section__shape-bottom.section__inner(data-aos="flip-right" data-aos-delay="200")
                .section__btn
                    include cta-button
