section.how#how.section.section-accent
    .container
        .section__header.js-observe
            .section__shape.section__shape-top
                h2.section__title.text-uppercase Як ми працюємо?
                h3.h6.section__subtitle.text-light.mb-0.text-primary ✦ Подивіться, як проходить весь процес надання послуги
        .section__body.block.js-observe
            .row.row-cols-lg-2
                .col.animate-fade-in(style="--i: 0;")
                    .card.card-white.card-leaf
                        .card__header
                            .card__icon
                                svg(width="48" height="48")
                                    use(href="#contact")
                            h4.h6.card__title.mb-0.text-uppercase ✦ Зв'яжіться з нами
                        .card__body Ми обговоримо деталі вашого замовлення, узгодимо дату, час і адресу виконання послуги.
                .col.animate-fade-in(style="--i: 1;")
                    .card.card-white.card-leaf
                        .card__header
                            .card__icon
                                svg(width="48" height="48")
                                    use(href="#process")
                            h4.h6.card__title.mb-0.text-uppercase ✦ Виконання замовлення
                        .card__body У день виконання наш спеціаліст привезе все необхідне обладнання та професійні засоби для чищення, після чого виконає замовлення.
                .col.animate-fade-in(style="--i: 2;")
                    .card.card-white.card-leaf
                        .card__header
                            .card__icon
                                svg(width="48" height="48")
                                    use(href="#cash")
                            h4.h6.card__title.mb-0.text-uppercase ✦ Оплата
                        .card__body Після завершення роботи ви зможете оплатити послугу зручним для вас способом.
                .col.animate-fade-in(style="--i: 3;")
                    .card.card-white.card-leaf
                        .card__header
                            .card__icon
                                svg(width="48" height="48")
                                    use(href="#result")
                            h4.h6.card__title.mb-0.text-uppercase ✦ Готово
                        .card__body Залишається лише насолоджуватися бездоганною чистотою!

        .section__footer.jpg.js-observe
            .section__shape.section__shape-bottom
                .section__helper.animate-fade-in(style="--i: 10;")
                    .helper
                        .helper__message(data-text="Подивіться, як ми працюємо 🐰 Маєте запитання? Напишіть нам!")
                            span.js-helper-text
                        img.helper__rabbit(src="img/rabbit-1.webp", alt="")
                .section__btn
                    include cta-button-ua
