section.indicators#indicators.section.section-accent
    svg(width="0" height="0" style="position: absolute;")
        defs
            lineargradient#progress-gradient(x1="0%" y1="0%" x2="100%" y2="0%")
                stop(offset="0%" stop-color="#BCB0F2")
                stop(offset="100%" stop-color="#BCB0F2")
    .container
        .section__header
            .section__shape.section__shape-top.section__inner(data-aos="fade-right" data-aos-delay="200")
                h2.section__title.text-uppercase Nasze wyniki
                h3.h6.section__subtitle.mb-0.text-primary.text-light ✦ Liczby, dzięki którym klienci nam ufają
        .section__body.block
            .row.row-cols-md-2.row-cols-lg-4
                .col
                    .card.card-primary-outline.card-leaf
                        .result.text-md-center
                            .result__progress
                                .progress
                                    svg.progress__bar(viewBox="0 0 100 100" data-progress="80")
                                        circle.progress__bar-bg(cx="50" cy="50" r="40")
                                        circle.progress__bar-fg(cx="50" cy="50" r="40")
                                    .progress__value.text-bold
                                        span.progress__value-number
                                        span.progress__value-percent %
                            .result__description.text-bold.h6 Xleceń realizujemy tygodniowo
                .col
                    .card.card-primary-outline.card-leaf
                        .result.text-md-center
                            .result__progress
                                .progress
                                    svg.progress__bar(viewBox="0 0 100 100" data-progress="93")
                                        circle.progress__bar-bg(cx="50" cy="50" r="40")
                                        circle.progress__bar-fg(cx="50" cy="50" r="40")
                                    .progress__value.text-bold
                                        span.progress__value-number
                                        span.progress__value-percent %
                            .result__description.text-bold.h6 Klientów wraca do nas ponownie
                .col
                    .card.card-primary-outline.card-leaf
                        .result.text-md-center
                            .result__progress
                                .progress
                                    svg.progress__bar(viewBox="0 0 100 100" data-progress="95")
                                        circle.progress__bar-bg(cx="50" cy="50" r="40")
                                        circle.progress__bar-fg(cx="50" cy="50" r="40")
                                    .progress__value.text-bold
                                        span.progress__value-number
                                        span.progress__value-percent %
                            .result__description.text-bold.h6 Klientów jest zadowolonych z efektów
                .col
                    .card.card-primary-outline.card-leaf
                        .result.text-md-center
                            .result__progress
                                .progress
                                    svg.progress__bar(viewBox="0 0 100 100" data-progress="100")
                                        circle.progress__bar-bg(cx="50" cy="50" r="40")
                                        circle.progress__bar-fg(cx="50" cy="50" r="40")
                                    .progress__value.text-bold
                                        span.progress__value-number
                                        span.progress__value-percent %
                            .result__description.text-bold.h6 Meble po czyszczeniu wyglądają jak nowe
        .section__footer.decor-rabbit
            .section__shape.section__shape-bottom.section__inner(data-aos="flip-right" data-aos-delay="200")
                .helper
                    .helper__message(data-text="Setki czystych mebli 🐰 Twój może być następny!")
                        span.js-helper-text
                .section__btn
                    include cta-button
