section#price.price.block.section
    .container.section__container
        .section__header.section__header--fill.decor-lavender
            .section__header-top
                h2.section__title.text-uppercase.mb-0 Cennik
                .section__navigation
                    .swiper-navigation
                        button(type="button" aria-label="Poprzednia kategoria").price-button-prev.btn.btn-primary-outline.btn-small.btn-circle
                            span.sr-only Poprzednia kategoria
                            svg.bi.bi-chevron-left.d-block(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
                                path(fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0")
                        button(type="button" aria-label="Następna kategoria").price-button-next.btn.btn-primary-outline.btn-small.btn-circle
                            span.sr-only Następna kategoria
                            svg.bi.bi-chevron-right.d-block(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
                                path(fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708")
            .section__header-bottom
                .section__subtitle.h6.text-light.mb-0.text-primary ✦ Wybierz kategorię i sprawdź ceny usług, których potrzebujesz
        .section__body.js-observe
            nav.categories-navigation(aria-label="Kategorie czyszczenia")
                .categories-navigation-swiper
                    .swiper-wrapper
                        .swiper-slide
                            button.btn.btn-secondary-outline.btn-small.btn-pillow.category-btn(type="button")
                                span.category-btn__text Tapicerka meblowa
                        .swiper-slide
                            button.btn.btn-secondary-outline.btn-small.btn-pillow.category-btn(type="button")
                                span.category-btn__text Materace
                        .swiper-slide
                            button.btn.btn-secondary-outline.btn-small.btn-pillow.category-btn(type="button")
                                span.category-btn__text Dywany
                        .swiper-slide
                            button.btn.btn-secondary-outline.btn-small.btn-pillow.category-btn(type="button")
                                span.category-btn__text Tapicerka samochodowa
                        .swiper-slide
                            button.btn.btn-secondary-outline.btn-small.btn-pillow.category-btn(type="button")
                                span.category-btn__text Okna
            .categories-content
                .swiper.categories-content-swiper.price-swiper(data-next-selector=".price-button-next" data-prev-selector=".price-button-prev")
                    .swiper-wrapper
                        article.swiper-slide
                            h3.h2 Cennik prania tapicerki meblowej&nbsp;
                                include cities
                            p.text-primary Sprawdź ceny czyszczenia kanap, narożników i foteli. Dobierz usługę do swoich potrzeb i odśwież swoje meble.
                            include price/price-furniture
                        article.swiper-slide
                            h3.h2 Cennik czyszczenia materacy&nbsp;
                                include cities
                            p Profesjonalne pranie materacy w różnych rozmiarach — od pojedynczych po duże materace rodzinne.
                            include price/price-mattress
                        article.swiper-slide
                            h3.h2 Cennik prania dywanów&nbsp;
                                include cities
                            p Cena zależy od wielkości dywanu oraz rodzaju zabrudzeń. Zadbaj o czystość i świeżość swoich wnętrz.
                            include price/price-carpet
                        article.swiper-slide
                            h3.h2 Cennik czyszczenia tapicerki samochodowej&nbsp;
                                include cities
                            p Odśwież wnętrze swojego auta — wybierz czyszczenie foteli, kanap lub kompleksowe pranie tapicerki.
                            include price/price-salon
                        article.swiper-slide
                            h3.h2 Cennik mycia okien&nbsp;
                                include cities
                            p Przejrzyste okna bez smug. Sprawdź ceny profesjonalnego mycia szyb, ram i powierzchni szklanych.
                            include price/price-window
        p.text-center
            small
                svg.icon.icon-right(width="16" height="16")
                    use(href="#info")
                span Niestety nie możemy gwarantować, że każda plama poszczególna zejdzie, oraz nie gwarantujemy, że każdy nieprzyjemny zapach zniknie.
            br
            small
                svg.icon.icon-right(width="16" height="16")
                    use(href="#info")
                span Cennik jest orientacyjny. Dokładna kwota zależy od rodzaju materiału, stanu zabrudzenia, wielkości czyszczonego przedmiotu.
            br
            small
                svg.icon.icon-right(width="16" height="16")
                    use(href="#info")
                span Również mamy dodatkową opcje suszenie waszych mebli, dywanów, materaców oraz suszenie foteli auta.
