section.process#process-cleaning.block.section
    .container.section__container
        .section__header.section__header--fill.decor-lavender
            .section__header-top
                h2.section__title.text-uppercase.mb-0(data-aos="fade-right") Proces prania
                .section__navigation(data-aos="fade-left")
                    .swiper-navigation
                        button(type="button" aria-label="Poprzednia kategoria").process-button-prev.btn.btn-primary-outline.btn-small.btn-circle
                            svg.bi.bi-chevron-left.d-block(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
                                path(fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0")
                        button(type="button" aria-label="Następna kategoria").process-button-next.btn.btn-primary-outline.btn-small.btn-circle
                            svg.bi.bi-chevron-right.d-block(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
                                path(fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708")
            .section__header-bottom
                .h6.section__subtitle.text-light.mb-0.text-primary(data-aos="fade-in") ✦ Zobacz, jak wygląda cały proces czyszczenia tapicerki
        .section__body
            nav.categories-navigation(aria-label="Kategorie czyszczenia")
                .categories-navigation-swiper
                    //- .swiper-button-next.categories-button-arrow
                    //- .swiper-button-prev.categories-button-arrow
                    .swiper-wrapper
                        .swiper-slide
                            button.btn.btn-secondary-outline.btn-small.btn-pillow.category-btn(type="button")
                                span.category-btn__text Tapicerka meblowa
                                //- span.category-btn__connect
                        .swiper-slide
                            button.btn.btn-secondary-outline.btn-small.btn-pillow.category-btn(type="button")
                                span.category-btn__text Materace
                                //- span.category-btn__connect
                        .swiper-slide
                            button.btn.btn-secondary-outline.btn-small.btn-pillow.category-btn(type="button")
                                span.category-btn__text Dywany
                                //- span.category-btn__connect
                        .swiper-slide
                            button.btn.btn-secondary-outline.btn-small.btn-pillow.category-btn(type="button")
                                span.category-btn__text Tapicerka samochodowa
                                //- span.category-btn__connect
                        .swiper-slide
                            button.btn.btn-secondary-outline.btn-small.btn-pillow.category-btn(type="button")
                                span.category-btn__text Okna
                                //- span.category-btn__connect
            .categories-content(style="display:flex; align-items: center; flex-grow: 1;")
                .swiper.categories-content-swiper.process-swiper(data-disallow-touch="true" data-next-selector=".process-button-next" data-prev-selector=".process-button-prev")
                    .swiper-wrapper
                        article.swiper-slide.h-auto
                            .row.row-cols-lg-2
                                .col
                                    h3.h2 Pranie tapicerki meblowej — efekt przed i po&nbsp;
                                        include cities
                                    p Usuwamy codzienne zabrudzenia, kurz oraz plamy, przywracając kanapom i fotelom świeży wygląd oraz przyjemność użytkowania.
                                    ul.list-row
                                        li.card.card-primary-outline.card-rounded ✦ Bezpieczne dla tkanin
                                        li.card.card-primary-outline.card-rounded ✦ Usuwanie zapachów
                                        li.card.card-primary-outline.card-rounded ✦ Pranie ekstrakcyjne
                                .col
                                    include process/process-furniture
                        article.swiper-slide.h-auto
                            .row.row-cols-lg-2
                                .col
                                    h3.h2 Czyszczenie materaca — świeżość i higiena snu&nbsp;
                                        include cities
                                    p Dokładne pranie pomaga pozbyć się kurzu, zabrudzeń i nieprzyjemnych zapachów, poprawiając komfort codziennego odpoczynku.
                                    ul.list-row
                                        li.card.card-primary-outline.card-rounded ✦ Usuwanie roztoczy i kurzu
                                        li.card.card-primary-outline.card-rounded ✦ Świeży i higieniczny sen
                                        li.card.card-primary-outline.card-rounded ✦ Czyszczenie obu stron
                                .col
                                    include process/process-mattress
                        article.swiper-slide.h-auto
                            .row.row-cols-lg-2
                                .col
                                    h3.h2 Pranie dywanu — widoczna różnica po czyszczeniu&nbsp;
                                        include cities
                                    p Usuwamy codzienne zabrudzenia, kurz oraz plamy, przywracając kanapom i fotelom świeży wygląd oraz przyjemność użytkowania.
                                    ul.list-row
                                        li.card.card-primary-outline.card-rounded ✦ Głębokie czyszczenie włókien
                                        li.card.card-primary-outline.card-rounded ✦ Odświeżenie kolorów
                                        li.card.card-primary-outline.card-rounded ✦ Usuwanie piasku i zabrudzeń
                                .col
                                    include process/process-carpet
                        article.swiper-slide.h-auto
                            .row.row-cols-lg-2
                                .col
                                    h3.h2 Czyszczenie wnętrza auta — odświeżona tapicerka&nbsp;
                                        include cities
                                    p Usuwamy ślady codziennego użytkowania, plamy oraz zapachy, aby wnętrze samochodu znów było czyste i komfortowe.
                                    ul.list-row
                                        li.card.card-primary-outline.card-rounded ✦ Czyszczenie trudno dostępnych miejsc
                                        li.card.card-primary-outline.card-rounded ✦ Neutralizacja zapachów
                                        li.card.card-primary-outline.card-rounded ✦ Odświeżenie wnętrza
                                .col
                                    include process/process-salon
                        article.swiper-slide.h-auto
                            .row.row-cols-lg-2
                                .col
                                    h3.h2 Mycie okien — czystość bez smug&nbsp;
                                        include cities
                                    p Dokładnie usuwamy zabrudzenia z szyb i ram, pozostawiając okna przejrzyste oraz idealnie czyste.
                                    ul.list-row
                                        li.card.card-primary-outline.card-rounded ✦ Bez smug
                                        li.card.card-primary-outline.card-rounded ✦ Czyste ramy i parapety
                                        li.card.card-primary-outline.card-rounded ✦ Dokładne wykończenie
                                .col
                                    include process/process-window
