section.promo#promo.section
    .container
        .section__header.section__header--fill
            header.header
                .section__shape.section__shape-top.section__inner
                    .header__inner
                        .header__logo
                            include logo
                        .header__menu#main-menu
                            nav.menu(aria-label="Główne menu")
                                .menu__item
                                    a.menu__link.link(href="#about") O nas
                                .menu__item
                                    a.menu__link.link(href="#services") Usługi
                                .menu__item
                                    a.menu__link.link(href="#price") Cennik
                                .menu__item
                                    a.menu__link.link(href="#reviews") Opinie
                                .menu__item
                                    a.menu__link.link(href="#works") Prace
                                .menu__item
                                    a.menu__link.link(href="#contacts") Kontakt
                            .header__menu-socials.text-center
                                .card.card-primary-outline.card-rounded
                                    b.text-bold Pon. - Niedz.
                                    span 07:00 - 22:00
                            .header__menu-btn.text-center
                                a.btn.btn-primary.btn-small.btn-pillow.w-100(href="https://wa.me/48531903619" target="_blank" rel="noopener")
                                    svg.icon.icon-right.shake(width="16" height="16")
                                        use(href="#tel")
                                    | Zadzwoń
                        .header__switcher
                            nav.switcher(aria-label="Wybór języka")
                                a.switcher__item.link.text-bold.text-accent(href="/") PL
                                span &nbsp;/&nbsp;
                                a.switcher__item.link(href="./index-ua.html") UA
                        .header__burger
                            button.js-burger.btn.btn-transparent(type="button" aria-expanded="false" aria-controls="main-menu")
                                span.sr-only Otwórz menu mobilne
                                span.cross
                                    span
                                    span
                                    span
        .section__body.block
            .promo__content
                .promo__pre-title.pre-title.text-primary ✦ Profesjonalne czyszczenie tapicerki
                h1.promo__title Pranie tapicerki meblowej i tapicerki samochodowej, materacy, dywanów, i mycie okien&nbsp;
                    include cities
                h2.h3 Skutecznie usuwamy brud, plamy i nieprzyjemne zapachy, korzystając z profesjonalnego sprzętu i starannie dobranej chemii
                .promo__list
                    ul.list-row
                        li.card.card-white.card-rounded ✦ Profesjonalny sprzęt
                        li.card.card-white.card-rounded ✦ Bezpieczna chemia
                        li.card.card-white.card-rounded ✦ Dojazd do klienta
                .promo__rating
                    span.rating(style="--star-rating: 4.8;")
                    b.text-bold 4.8
                    a.text-muted(href="#reviews") (56 reviews)
        .section__footer
            .section__shape.section__shape-bottom.section__inner
                .section__btn
                    include cta-button
