nav(class="socials")
	a(class="socials__item" href="https://www.facebook.com/share/18mvecontb/?mibextid=wwXIfr" target="_blank" aria-label="facebook")
		span.sr-only Facebook
		svg.icon(width="16" height="16")
			use(href="#facebook")
	a(class="socials__item" href="https://wa.me/48531903619" target="_blank" aria-label="whatsapp" rel="noopener")
		span.sr-only Whatsapp
		svg.icon(width="16" height="16")
			use(href="#whatsapp")
	a(class="socials__item" href="tel:+48531903619" target="_blank" aria-label="phone" rel="noopener")
		span.sr-only Phone
		svg.icon(width="16" height="16")
			use(href="#tel")
	//- a(class="socials__item" href="" target="_blank" aria-label="google")
	//- 	span.sr-only Google
	//- 	svg.icon(width="16" height="16")
	//- 		use(href="#google")
