nav(class="socials")
	a(class="socials__item" href="https://www.facebook.com/share/18mvecontb/?mibextid=wwXIfr" target="_blank" aria-label="facebook")
		span.sr-only Facebook
		svg.icon(width="16" height="16")
			use(href="#facebook")
	//- a(class="socials__item" href="" target="_blank" aria-label="tiktok")
	//- 	span.sr-only TikTok
	//- 	svg.icon(width="16" height="16")
	//- 		use(href="#tiktok")
	//- a(class="socials__item" href="" target="_blank" aria-label="email")
	//- 	span.sr-only Email
	//- 	svg.icon(width="16" height="16")
	//- 		use(href="#email")
	//- a(class="socials__item" href="" target="_blank" aria-label="google")
	//- 	span.sr-only Google
	//- 	svg.icon(width="16" height="16")
	//- 		use(href="#google")
