section.why#why.section.section-gradient
    .container
        .section__header
            .section__shape.section__shape-top.section__inner(data-aos="fade-right" data-aos-delay="200")
                h2.section__title.text-uppercase Dlaczego właśnie my?
                h3.h6.section__subtitle.mb-0.text-light.text-primary ✦ Nasi klienci wracają do nas — i oto dlaczego
        .section__body.block(data-aos="fade-right" data-aos-delay="200")
            .row.row-cols-lg-2
                .col
                    .card.card-primary-outline.card-leaf
                        .card__header
                            .card__icon
                                svg(width="48" height="48")
                                    use(href="#effective")
                            h4.h6.card__title.mb-0.text-uppercase Skuteczne usuwanie plam i zapachów
                        .card__body Używamy profesjonalnej chemii, która radzi sobie nawet z trudnymi zabrudzeniami
                .col
                    .card.card-primary-outline.card-leaf
                        .card__header
                            .card__icon
                                svg(width="48" height="48")
                                    use(href="#materials")
                            h4.h6.card__title.mb-0.text-uppercase Pracujemy z różnymi rodzajami materiałów
                        .card__body Delikatnie czyścimy tkaniny, skórę, zamsz, mikrofibrę i inne powierzchnie
                .col
                    .card.card-primary-outline.card-leaf
                        .card__header
                            .card__icon
                                svg(width="48" height="48")
                                    use(href="#intime")
                            h4.h6.card__title.mb-0.text-uppercase Przyjeżdżamy w dogodnym dla Ciebie czasie
                        .card__body To Ty wybierasz datę i godzinę — dostosowujemy się do Twojego harmonogramu
                .col
                    .card.card-primary-outline.card-leaf
                        .card__header
                            .card__icon
                                svg(width="48" height="48")
                                    use(href="#safe")
                            h4.h6.card__title.mb-0.text-uppercase Bezpieczne dla dzieci i zwierząt
                        .card__body Stosujemy hipoalergiczne środki, które są bezpieczne dla zdrowia
        .section__footer
            .section__shape.section__shape-bottom.section__inner(data-aos="flip-right" data-aos-delay="200")
                .section__btn
                    include cta-button
