// $grid-gutter-width: 1.5rem;
// $grid-gutter-height: 1.5rem;
// $gutter: $grid-gutter-width;
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss';



a {
    color: inherit;
}



*,
*:before,
*:after {
    box-sizing: border-box;
}

// .row {
//   --bs-gutter-y: 1.5rem;
// }

:root {
    --h1: 1.625rem;
    --h2: 1.5rem;
    --h3: 1.375rem;
    --h4: 1.25rem;
    --h5: 1.125rem;
    --h6: 1rem;
    --line-height: 1.3;


    @media screen and (min-width: 768px) {
        --h1: 2rem;
        --h2: 1.75rem;
        --h3: 1.5rem;
    }


    @media screen and (min-width: 1200px) {
        // --h1: 2.25rem;
        // --h2: 2rem;
        // --h3: 1.75rem;
        --h4: 1.5rem;
        --h5: 1.375rem;
        --h6: 1.125rem;
    }

}

h1,
h2 {
    line-height: 1.2;
}

h1,
.h1 {
    font-size: var(--h1);
}

h2,
.h2 {
    font-size: var(--h2);
}

h3,
.h3 {
    font-size: var(--h3);
}

h4,
.h4 {
    font-size: var(--h4);
}

h5,
.h5 {
    font-size: var(--h5);
}

h6,
.h6 {
    font-size: var(--h6);
}

[class*="title" i]:has(+ [class*="subtitle" i]) {
    margin-bottom: 0.5rem;
}

body {
    --section-color: #fff;
    --substrate-color: #fff;
    font-family: "Cormorant Garamond", serif;
    font-size: 16px;
    line-height: var(--line-height);
    font-weight: 300;
    overflow-x: hidden;
    color: var(--color-1-shade-1);
    background: var(--section-color);




    @media screen and (min-width: 1200px) {
        font-size: 18px;
    }
}



h1,
h2,
h3,
h4,
h5,
h6 {
    // font-family: 'Raleway';
    margin-bottom: 1em;
    margin-top: 0;
    font-weight: 700;
}

li:not(:last-child):not(.bullet) {
    margin-bottom: 0.5rem;
}

html {
    // overflow-x: hidden;
    font-size: 16px;
}

img {
    display: block;
    max-width: 100%;
}

svg {
    overflow: hidden;
}

.text-light {
    font-weight: 300;
}

.text-normal {
    font-weight: 400;
}

.text-medium {
    font-weight: 500;
}

.text-bold {
    font-weight: 700;
}

.text-black {
    font-weight: 900;
}

.text-nowrap {
    white-space: nowrap;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-gold {
    color: rgb(122, 106, 0);
}

.text-yellow {
    color: yellow;
}

.text-digits {
    font-family: 'Times New Roman', Times, serif;
}

.text-uppercase {
    text-transform: uppercase;
}

br {
    line-height: 1;
    font-size: 0;
}




.rating {
    --star-size: 20px;
    --star-offset: 1px;
    width: calc(var(--star-size) * 5);
    height: var(--star-size);
    position: relative;

    &:before,
    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-repeat: repeat-x;
    }

    &:before {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 1.62747L11.9214 6.24697C12.1014 6.67976 12.5084 6.97547 12.9756 7.01293L17.9627 7.41275L14.1631 10.6676C13.8071 10.9725 13.6516 11.451 13.7604 11.9069L14.9212 16.7735L10.6516 14.1656C10.2515 13.9213 9.74845 13.9213 9.34843 14.1656L5.07875 16.7735L6.23961 11.9069C6.34837 11.451 6.19291 10.9725 5.83692 10.6676L2.03726 7.41275L7.02438 7.01293C7.49162 6.97547 7.89863 6.67976 8.07864 6.24697L10 1.62747Z' stroke='%23BCB0F2' stroke-width='2'/%3E%3C/svg%3E%0A");
    }

    &:after {
        width: calc(var(--star-size) * var(--star-rating));
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.42292 1.38746C9.63642 0.874148 10.3636 0.874147 10.5771 1.38746L12.4984 6.00695C12.5884 6.22335 12.7919 6.3712 13.0256 6.38993L18.0127 6.78975C18.5668 6.83417 18.7916 7.52574 18.3693 7.88741L14.5697 11.1422C14.3917 11.2947 14.314 11.5339 14.3683 11.7619L15.5292 16.6285C15.6582 17.1693 15.0699 17.5967 14.5955 17.3069L10.3258 14.699C10.1258 14.5768 9.87423 14.5768 9.67422 14.699L5.40454 17.3069C4.9301 17.5967 4.34182 17.1693 4.47081 16.6285L5.63167 11.7619C5.68605 11.5339 5.60832 11.2947 5.43032 11.1422L1.63066 7.88741C1.20845 7.52574 1.43315 6.83417 1.98731 6.78975L6.97444 6.38993C7.20806 6.3712 7.41156 6.22335 7.50157 6.00695L9.42292 1.38746Z' fill='%23BCB0F2'/%3E%3C/svg%3E%0A");
    }
}

.icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: -0.125em;

    &-right {
        margin-right: 0.25rem;
    }

    &-left {
        margin-left: 0.25rem;
    }
}


@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}

.bounce {
    animation: bounce 1s infinite;
}




@keyframes pulse {
    from {
        filter: drop-shadow(0 0 0 var(--border-color));
    }

    to {
        filter: drop-shadow(0 0 10px var(--border-color));
    }
}




@keyframes steam {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}


.swiper-navigation {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}



.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

*:has(>.sr-only) {
    position: relative;
}


.active .in-active-none {
    display: none;
}

.active .in-inactive-none {
    display: block;
}

.in-inactive-none {
    display: none;
}

.text-white {
    color: var(--neutral-color);
}


// .card__icon svg {
//     background-clip: text;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     background-image: linear-gradient(90deg, var(--fourth-color) 0, var(--third-color) 100%);
// }

// .text-gradient-dark {
//     background-clip: text;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     background-image: linear-gradient(90deg, var(--fourth-color) 0%, var(--third-color) 10%, var(--third-color) 90%, var(--fourth-color) 100%);
// }

// .text-gradient-light {
//       background-clip: text;
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//     background-image: linear-gradient(90deg, var(--first-color) 0, var(--second-color) 100%);
// }

.w-100 {
    width: 100%;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.m-0 {
    margin: 0 !important;
}

.h-auto {
    height: auto !important;
}

.h-100 {
    height: 100%;
}

.p-relative {
    position: relative;
}

.index-2 {
    z-index: 2;
}


@keyframes draw-circle-inner {
    from {
        stroke-dasharray: 0, 565;
    }

    to {
        stroke-dasharray: 310, 565;
    }
}

@keyframes draw-circle-outer {
    from {
        stroke-dasharray: 0, 565;
    }

    to {
        stroke-dasharray: 350, 565;
    }
}

@keyframes fade-in-sofa {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(0.45)
    }
}


// .logo {
//     &-icon {
//         vertical-align: middle;

//         &__sofa {
//             transform: scale(0.45);
//             transform-origin: center 35%;
//             animation: fade-in-sofa 1s ease-out forwards;
//         }

//         &__circle {
//             &-inner {
//                 transform-origin: center;
//                 transform: rotate(158deg);
//                 animation: draw-circle-inner 1s ease-out forwards;
//             }

//             &-outer {
//                 transform-origin: center;
//                 transform: rotate(158deg);
//                 animation: draw-circle-outer 1s ease-out forwards;
//             }
//         }

//         &__text {
//             font-weight: 700;
//         }
//     }

// }

.text-red {
    color: red;
}

.text-yellow {
    color: var(--second-color);
}

.beer-slider picture {
    display: block;
}

.list-check {
    list-style: none;
    padding: 0;

    li {
        position: relative;
        display: flex;
        gap: 0.5rem;

        &:before {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%2399B27F' class='bi bi-check-lg' viewBox='0 0 16 16'%3E%3Cpath d='M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z'/%3E%3C/svg%3E");
        }
    }
}

.list-row {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    gap: 1rem;
    // font-weight: 700;
    list-style: none;
    padding: 0;

    li {
        margin: 0 !important;
    }
}

// section:has(.swiper) {
//   overflow: hidden;
// }

hr {
    width: 100%;
    border-color: var(--fourth-color);
    border-top: none;
}

.d-block {
    display: block;
}

.text-accent {
    color: var(--accent-color);
}


.cta-controls {
    display: flex;
    margin-right: -2.5rem;

    // .btn {
    //   width: 100%;
    //   white-space: nowrap;
    // }
    &__item {
        &:nth-child(1) {
            width: calc(50% + 2.5rem);
            width: 50%;

            .btn {
                padding-right: 2.5rem;
            }
        }

        &:nth-child(2) {
            margin-left: -2.5rem;
            width: calc(50% - 1rem);
            width: 50%;
        }
    }
}

.overflow-hidden {
    overflow: hidden;
}



.text {
    &-center {
        text-align: center;
    }

    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }

    @media (min-width: 420px) {
        &-xs {
            &-left {
                text-align: left;
            }

            &-right {
                text-align: right;
            }

            &-center {
                text-align: center;
            }
        }
    }

    @media (min-width: 576px) {

        &-sm {
            &-left {
                text-align: left;
            }

            &-right {
                text-align: right;
            }

            &-center {
                text-align: center;
            }
        }
    }

    @media (min-width: 768px) {

        &-md {
            &-left {
                text-align: left;
            }

            &-right {
                text-align: right;
            }

            &-center {
                text-align: center;
            }
        }
    }

    @media (min-width: 992px) {

        &-lg {
            &-left {
                text-align: left;
            }

            &-right {
                text-align: right;
            }

            &-center {
                text-align: center;
            }
        }
    }

    @media (min-width: 1220px) {

        &-xl {
            &-left {
                text-align: left;
            }

            &-right {
                text-align: right;
            }

            &-center {
                text-align: center;
            }
        }
    }

    @media (min-width: 1440px) {

        &-xxl {
            &-left {
                text-align: left;
            }

            &-right {
                text-align: right;
            }

            &-center {
                text-align: center;
            }
        }
    }
}

.row .col:nth-child(1n) .card-leaf {
    border-radius: 0 var(--leaf-radius);
}

.row .col:nth-child(2n) .card-leaf {
    border-radius: var(--leaf-radius) 0;
}

.row .col:nth-child(3n) .card-leaf {
    border-radius: 0 var(--leaf-radius);
}

.row .col:nth-child(4n) .card-leaf {
    border-radius: var(--leaf-radius) 0;
}

.row .col:nth-child(5n) .card-leaf {
    border-radius: 0 var(--leaf-radius);
}

.row .col:nth-child(6n) .card-leaf {
    border-radius: var(--leaf-radius) 0;
}

.row .col:nth-child(7n) .card-leaf {
    border-radius: 0 var(--leaf-radius);
}

.row .col:nth-child(8n) .card-leaf {
    border-radius: var(--leaf-radius) 0;
}

    .row-cols-2 .col:nth-child(1n) .card-leaf {
        border-radius: var(--leaf-radius) 0;
    }

    .row-cols-2 .col:nth-child(2n) .card-leaf {
        border-radius: 0 var(--leaf-radius);
    }

    .row-cols-2 .col:nth-child(3n) .card-leaf {
        border-radius: 0 var(--leaf-radius);
    }

    .row-cols-2 .col:nth-child(4n) .card-leaf {
        border-radius: var(--leaf-radius) 0;
    }

    .row-cols-2 .col:nth-child(5n) .card-leaf {
        border-radius: var(--leaf-radius) 0;
    }

    .row-cols-2 .col:nth-child(6n) .card-leaf {
        border-radius: 0 var(--leaf-radius);
    }

    .row-cols-2 .col:nth-child(7n) .card-leaf {
        border-radius: 0var(--leaf-radius);
    }

    .row-cols-2 .col:nth-child(8n) .card-leaf {
        border-radius: var(--leaf-radius) 0;
    }

@media screen and (min-width: 576px) {
        .row-cols-sm-2 .col:nth-child(1n) .card-leaf {
                border-radius:  var(--leaf-radius) 0;
            }

            .row-cols-sm-2 .col:nth-child(2n) .card-leaf {
                border-radius: 0 var(--leaf-radius) ;
            }

            .row-cols-sm-2 .col:nth-child(3n) .card-leaf {
                border-radius: 0 var(--leaf-radius);
            }

            .row-cols-sm-2 .col:nth-child(4n) .card-leaf {
                border-radius: var(--leaf-radius) 0;
            }

            .row-cols-sm-2 .col:nth-child(5n) .card-leaf {
                border-radius: var(--leaf-radius) 0;
            }

            .row-cols-sm-2 .col:nth-child(6n) .card-leaf {
                border-radius: 0 var(--leaf-radius);
            }

            .row-cols-sm-2 .col:nth-child(7n) .card-leaf {
                border-radius: 0var(--leaf-radius) ;
            }

            .row-cols-sm-2 .col:nth-child(8n) .card-leaf {
                border-radius:  var(--leaf-radius) 0;
            }
}


@media screen and (min-width: 768px) {
    .row-cols-md-2 .col:nth-child(1n) .card-leaf {
        border-radius: 0 var(--leaf-radius);
    }

    .row-cols-md-2 .col:nth-child(2n) .card-leaf {
        border-radius: var(--leaf-radius) 0;
    }

    .row-cols-md-2 .col:nth-child(3n) .card-leaf {
        border-radius: var(--leaf-radius) 0;
    }

    .row-cols-md-2 .col:nth-child(4n) .card-leaf {
        border-radius: 0 var(--leaf-radius);
    }







    .row-cols-md-3 .col:nth-child(1n) .card-leaf {
        border-radius: 0 var(--leaf-radius);
    }

    .row-cols-md-3 .col:nth-child(2n) .card-leaf {
        border-radius: var(--leaf-radius) 0;
    }

    .row-cols-md-3 .col:nth-child(3n) .card-leaf {
        border-radius: 0 var(--leaf-radius);
    }

    .row-cols-md-3 .col:nth-child(4n) .card-leaf {
        border-radius: var(--leaf-radius) 0;
    }

    .row-cols-md-3 .col:nth-child(5n) .card-leaf {
        border-radius: 0 var(--leaf-radius);
    }

    .row-cols-md-3 .col:nth-child(6n) .card-leaf {
        border-radius: var(--leaf-radius) 0;
    }

    .row-cols-md-3 .col:nth-child(7n) .card-leaf {
        border-radius: 0 var(--leaf-radius);
    }

    .row-cols-md-3 .col:nth-child(8n) .card-leaf {
        border-radius: var(--leaf-radius) 0;
    }


    .row-cols-md-4 .col:nth-child(1n) .card-leaf {
        border-radius: 0 var(--leaf-radius);
    }

    .row-cols-md-4 .col:nth-child(2n) .card-leaf {
        border-radius: var(--leaf-radius) 0;
    }

    .row-cols-md-4 .col:nth-child(3n) .card-leaf {
        border-radius: 0 var(--leaf-radius);
    }

    .row-cols-md-4 .col:nth-child(4n) .card-leaf {
        border-radius: var(--leaf-radius) 0;
    }

    .row-cols-md-4 .col:nth-child(5n) .card-leaf {
        border-radius: var(--leaf-radius) 0;
    }

    .row-cols-md-4 .col:nth-child(6n) .card-leaf {
        border-radius: 0 var(--leaf-radius);
    }

    .row-cols-md-4 .col:nth-child(7n) .card-leaf {
        border-radius: var(--leaf-radius) 0;
    }

    .row-cols-md-4 .col:nth-child(8n) .card-leaf {
        border-radius: 0 var(--leaf-radius);
    }
}

@media screen and (min-width: 992px) {
    .row-cols-lg-2 .col:nth-child(1n) .card-leaf {
        border-radius: 0 var(--leaf-radius);
    }

    .row-cols-lg-2 .col:nth-child(2n) .card-leaf {
        border-radius: var(--leaf-radius) 0;
    }

    .row-cols-lg-2 .col:nth-child(3n) .card-leaf {
        border-radius: var(--leaf-radius) 0;
    }

    .row-cols-lg-2 .col:nth-child(4n) .card-leaf {
        border-radius: 0 var(--leaf-radius);
    }


    .row-cols-lg-4 .col:nth-child(1n) .card-leaf {
        border-radius: 0 var(--leaf-radius);
    }

    .row-cols-lg-4 .col:nth-child(2n) .card-leaf {
        border-radius: var(--leaf-radius) 0;
    }

    .row-cols-lg-4 .col:nth-child(3n) .card-leaf {
        border-radius: 0 var(--leaf-radius);
    }

    .row-cols-lg-4 .col:nth-child(4n) .card-leaf {
        border-radius: var(--leaf-radius) 0;
    }

    .row-cols-lg-4 .col:nth-child(5n) .card-leaf {
        border-radius: var(--leaf-radius) 0;
    }

    .row-cols-lg-4 .col:nth-child(6n) .card-leaf {
        border-radius: 0 var(--leaf-radius);
    }

    .row-cols-lg-4 .col:nth-child(7n) .card-leaf {
        border-radius: var(--leaf-radius) 0;
    }

    .row-cols-lg-4 .col:nth-child(8n) .card-leaf {
        border-radius: 0 var(--leaf-radius);
    }
}



.text-primary {
    color: var(--color-1-base);
}


.text-muted {
    opacity: 0.8;
}



.water-mark {
    display: block;
    position: relative;
    &:before {
        content: "";
        display: block;
        width: 100px;
        height: 100px;
        background-image: url(../img/logo.webp);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: 0.8;
    }
}


.helper {
    position: absolute;
    background-image: url(../img/cloud.webp);
    padding: 2rem 2rem 0;
    width: 200px;
    height: 132px;
    font-size: 14px;
    z-index: 4;
    right: 0;
    bottom: calc(100% + 50px);
    opacity: 0;
    transform: scale(0);
    transition: .4s ease;
    pointer-events: none;
    transform-origin: right bottom;
    &.active {
        opacity: 1;
        transform: scale(1);
    }
}
