
:root {

  /* Color 1: #7C73E6 */
  --color-1-tint-2: #f9f8fe;
//   --color-1-tint-2: #f3f0fd79;
//   --color-1-tint-2: #F3F0FD;
  --color-1-tint-1: #BCB0F2;
  --color-1-base: #6f66a9;
//   --color-1-base: #4B447D;
  --color-1-shade-1: #352f63;
  --color-1-shade-2: #2d2647;

  /* Color 3: #99B27F */
  --color-2-tint-2: #F5F7F2;
  --color-2-tint-1: #C7D4B7;
  --color-2-base: #99B27F;
  --color-2-shade-1: #57644A;
  --color-2-shade-2: #1D1F1B;

    /* Color 3: #E0D3D4 */
  --color-3-tint-2: #FCFBFB;
  --color-3-tint-1: #EEE7E7;
  --color-3-base: #E0D3D4;
  --color-3-shade-1: #7B7475;
  --color-3-shade-2: #232222;

  --accent-color: var(--color-2-base);
--neutral-color: #fff;

}
